---
import Base from '../layouts/Base.astro'
import Link from '../components/Link.astro'
---

<Base>
    <section>
        <div class='container'>
            <h1>Christopher Denais</h1>
        </div>
    </section>
    <section>
    <div class='container content-grid'>
        <img src='/images/profile.webp' alt='Profile of Christopher Denais' />
        <div class='text-width'>
            <h3>
                I’m a user experience designer living in Lafayette, Louisiana. Since
                2007 I have learned about graphic design, web design, UX design, and
                industrial design giving me a unique perspective to solve design
                problems.
            </h3>
            <p>
                I work with B2B companies launching new products or redesigning legacy products,
                to design timeless and intuitive software that increases user productivity.
                This impact may come in the form of increasing the speed, accuracy, or safety
                of work operations.
            </p>
            <p>
                My vision is that the B2B SaaS industry is ripe for disruption. Given the
                complex and mundane nature business software can be, most designers won’t
                even touch it. So I am the driving force elevating the standard of B2B software
                by making work happen better.
            </p>
            <p>
                Industries I have experience with include Healthcare, Government, Fintech,
                Web3, and AI.
            </p>
            <p>
                Clients I’ve worked with include Johnson & Johnson, the U.S. Department of
                Defense, Monaco Enterprises, Vecna, and Atmos Labs.
            </p>
            <p>
                Values I find important are reducing things to the smallest number of parts
                before they break and using my imagination to execute on a vision.
            </p>
            <Link href="https://www.popsci.com/technology/air-force-artificial-intelligence-pilot-training/" target="_blank">
            Learn how pilots at Seymour Johnson AFB are using Data Driven Readiness
            <svg slot="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="currentColor">
                <path d="M52 56H12C10.9396 55.9986 9.92299 55.5767 9.17315 54.8269C8.42331 54.077 8.00143 53.0604 8 52V12C8.00143 10.9396 8.42331 9.92299 9.17315 9.17315C9.92299 8.42331 10.9396 8.00143 12 8H32V12H12V52H52V32H56V52C55.9986 53.0604 55.5767 54.077 54.8269 54.8269C54.077 55.5767 53.0604 55.9986 52 56Z"/>
                <path d="M40 4V8H53.172L36 25.172L38.828 28L56 10.828V24H60V4H40Z"/>
            </svg>
            </Link>
        </div>
    </div>
    </section> 
</Base>
