---
import Base from '../layouts/Base.astro'
---

<Base>
    <section>
        <div class='container'>
            <h1>Christopher Denais</h1>
        </div>
    </section>
    <section>
    <div class='container content-grid'>
        <img src='/images/chrisdefault.jpg' alt='Image of Christopher Denais' />
        <div class='text-width'>
            <h3>
                Since beginning my journey as a designer 10 years ago, I have developed a strong 
                understanding for how humans interact with digital products.
            </h3>
            <h3>
                I work with SaaS companies launching new products or redesigning legacy products,
                to design timeless and intuitive software by simplifying complex workflows.
                This impact may look like faster form completions, meeting regulatory 
                standards, or increasing product adoption rates.
            </h3>
            <h3>
                My design process focuses on uncovering the root causes of customer challenges to create 
                design solutions by applying a research-based design approach.
            </h3>
            <h3>
                This is what I believe is necessary for creating both intuitive and timeless products.
            </h3>
        </div>
    </div>
    </section> 
</Base>
