---
import Base from '../layouts/Base.astro'
import Link from '../components/Link.astro'
---
<Base>
	<section>
		<div class='container'>
			<div class='hero__row'>
				<h1>
					Chris is a designer, researcher, and builder who turns insights about how 
                    people use technology into products that create real business value.
				</h1>
				<img src='/images/chrisred.png'/>
			</div>
		</div>
	</section>
    <section>
        <div class='container content-grid'>
            <div class='text-width-lg'>
                <h2>
                    I’ve spent the past 10 years designing digital products and learning how 
					people use them.
                </h2>
                <h2>
			  		I help SaaS companies bring new products to market and transform legacy tools 
					into modern user experiences. This often includes faster user workflows, stronger 
					engagement, and products that people actually enjoy using.
                </h2>
                <h2>
                    My process centers on uncovering the root causes behind user challenges. 
					I apply a research-driven approach to design solutions that are timeless 
					and intuitive.
                </h2>
            </div>
			<div class="content-column">
				<Link 
					href='https://www.linkedin.com/in/chrisdenais/' 
					text='-> LinkedIn' 
					size='h2'
					color='inverse'
					target='_blank'
					rel='noopener noreferrer'
				/>
				<Link 
					href='/images/denais-product-designer-resume-2025.pdf'
					text='-> Resume' 
					size='h2'
					color='inverse'
					target='_blank'
					rel='noopener noreferrer'
				/>
				<Link 
					href='/contact' 
					text='-> Email' 
					size='h2'
					color='inverse'
				/>
			</div>
        </div>
    </section> 
</Base>
