---
import Base from '../layouts/Base.astro'
---

<Base>
  <section>
    <div class='container'>
      <h1>Christopher Denais</h1>
    </div>
  </section>
  <section>
    <div class='container content-grid'>
      <div class='content-image-wrapper'>
        <img src='/chrisdenais.com/images/profile.webp' alt='Profile of Christopher Denais' />
      </div>
      <div class='content-copy'>
        <p class="h2">
          I’m a user experience designer living in Lafayette, Louisiana. Since
          2007 I have learned about graphic design, web design, UX design, and
          industrial design giving me a unique perspective to solve design
          problems.
        </p>
        <br />
        <p class="h2">
          I work with B2B companies launching new products or redesigning legacy products,
          to design timeless and intuitive software that increases user productivity.
          This impact may come in the form of increasing the speed, accuracy, or safety
          of work operations.
        </p>
        <br />
        <p class="h2">
          My vision is that the B2B SaaS industry is ripe for disruption. Given the
          complex and mundane nature business software can be, most designers won’t
          even touch it. So I am the driving force elevating the standard of B2B software
          by making work happen better.
        </p>
        <br />
        <p class="h2">
          Industries I have experience with include Healthcare, Government, Fintech,
          Web3, and AI.
        </p>
        <br />
        <p class="h2">
          Clients I’ve worked with include Johnson & Johnson, the U.S. Department of
          Defense, Monaco Enterprises, Vecna, and Atmos Labs.
        </p>
        <br />
        <p class="h2">
          Values I find important are reducing things to the smallest number of parts
          before they break and using my imagination to execute on a vision.
        </p>
        <br />
        <p class="h2">
          Currently working on the release of my own software, a card sorting micro
          SaaS that UX researchers can use to better organize information on the web.
        </p>
      </div>
    </div>
  </section> 
</Base>
