---
import Base from '../layouts/Base.astro'
import Button from '../components/Button.astro'
---

<Base>
    <section>
        <div class='container'>
            <h1>Christopher Denais</h1>
        </div>
    </section>
    <section>
    <div class='container content-grid'>
        <img src='/images/profile.webp' alt='Profile of Christopher Denais' />
        <div class='text-width'>
            <h3>
                I’m a user experience designer living in Lafayette, Louisiana. Since
                2007 I have learned about graphic design, web design, UX design, and
                industrial design giving me a unique perspective to solve design
                problems.
            </h3>
            <p>
                I work with B2B companies launching new products or redesigning legacy products,
                to design timeless and intuitive software that increases user productivity.
                This impact may come in the form of increasing the speed, accuracy, or safety
                of work operations.
            </p>
            <p>
                My vision is that the B2B SaaS industry is ripe for disruption. Given the
                complex and mundane nature business software can be, most designers won’t
                even touch it. So I am the driving force elevating the standard of B2B software
                by making work happen better.
            </p>
            <p>
                Industries I have experience with include Healthcare, Government, Fintech,
                Web3, and AI.
            </p>
            <p>
                Clients I’ve worked with include Johnson & Johnson, the U.S. Department of
                Defense, Monaco Enterprises, Vecna, and Atmos Labs.
            </p>
            <p>
                Values I find important are reducing things to the smallest number of parts
                before they break and using my imagination to execute on a vision.
            </p>
            <Button ariaLabel='Add item'>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_4305_23913)">
            <path d="M27 9L24.855 11.0895L36.225 22.5H6V25.5H36.225L24.855 36.8595L27 39L42 24L27 9Z" fill='currentColor'/>
            </g>
            <defs>
            <clipPath id="clip0_4305_23913">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            </Button>
        </div>
    </div>
    </section> 
</Base>
