---
import Base from '../layouts/Base.astro'
import Link from '../../components/Link.astro'
---

<Base>
	<section>
		<Link href="/about" text="About" class="link" icon="/images/link.svg" />
	</section>
</Base>
