---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>Positively disrupting the paradigm</h1>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='clients'>
				<div class='clients__item'>
					<p>Monaco Enterprises</p>
					<p>
						Ongoing user research and design for an emergency
						management software
					</p>
				</div>
				<div class='clients__item'>
					<p>AIOZ</p>
					<p>
						Ongoing design system optimization for a layer-1
						blockchain network
					</p>
				</div>
				<div class='clients__item'>
					<p>U.S. Department of Defense</p>
					<p>
						Desktop UI and UX design for a next-generation flight
						safety tool
					</p>
				</div>
				<div class='clients__item'>
					<p>Johnson & Johnson</p>
					<p>
						Optimized a design system for a touchscreen device used
						in surgical operating rooms
					</p>
				</div>
				<div class='clients__item'>
					<p>Atmos</p>
					<p>
						Design system and UI/UX for a blockchain-based racing
						game 400 years in the future
					</p>
				</div>
				<div class='clients__item'>
					<p>Vecna</p>
					<p>
						UI and UX designs for electronic medical records
						software and patient check-in kiosk
					</p>
				</div>
				<div class='clients__item'>
					<p>Andover</p>
					<p>
						Optimized desktop UI designs and participated in
						usability tests for insurance agent portal
					</p>
				</div>
				<div class='clients__item'>
					<p>Prysm</p>
					<p>
						Concept designs and interactive prototypes for wall
						mounted touchscreen displays
					</p>
				</div>
				<div class='clients__item'>
					<p>R3VOLUTION DIGITAL</p>
					<p>
						Mobile UI designs for blockchain-based live music event
						application
					</p>
				</div>
				<div class='clients__item'>
					<p>Wirehead</p>
					<p>
						Responsive website design for metaverse-based gaming
						universe
					</p>
				</div>
				<div class='clients__item'>
					<p>Skillmasters</p>
					<p>
						Mobile UI/UX design and branding for on-demand sports
						coaching
					</p>
				</div>
				<div class='clients__item'>
					<p>Azarus</p>
					<p>
						Designed concepts and UI for blockchain-based Twitch
						extension overlay games
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class='container end'>
			<h2>Testimonials</h2>
		</div>
	</section>
</Base>
