---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>Positively disrupting the paradigm</h1>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='clients'>
				<div class='clients__item'>
					<p>Monaco Enterprises</p>
					<p>
						Ongoing user research and design for an emergency
						management software
					</p>
				</div>
				<div class='clients__item'>
					<p>AIOZ</p>
					<p>
						Ongoing design system optimization for a layer-1
						blockchain network
					</p>
				</div>
				<div class='clients__item'>
					<p>U.S. Department of Defense</p>
					<p>
						Desktop UI and UX design for a next-generation flight
						safety tool
					</p>
				</div>
				<div class='clients__item'>
					<p>Johnson & Johnson</p>
					<p>
						Optimized a design system for a touchscreen device used
						in surgical operating rooms
					</p>
				</div>
				<div class='clients__item'>
					<p>Atmos</p>
					<p>
						Design system and UI/UX for a blockchain-based racing
						game 400 years in the future
					</p>
				</div>
				<div class='clients__item'>
					<p>Vecna</p>
					<p>
						UI and UX designs for electronic medical records
						software and patient check-in kiosk
					</p>
				</div>
				<div class='clients__item'>
					<p>Andover</p>
					<p>
						Optimized desktop UI designs and participated in
						usability tests for insurance agent portal
					</p>
				</div>
				<div class='clients__item'>
					<p>Prysm</p>
					<p>
						Concept designs and interactive prototypes for wall
						mounted touchscreen displays
					</p>
				</div>
				<div class='clients__item'>
					<p>R3VOLUTION DIGITAL</p>
					<p>
						Mobile UI designs for blockchain-based live music event
						application
					</p>
				</div>
				<div class='clients__item'>
					<p>Wirehead</p>
					<p>
						Responsive website design for metaverse-based gaming
						universe
					</p>
				</div>
				<div class='clients__item'>
					<p>Skillmasters</p>
					<p>
						Mobile UI/UX design and branding for on-demand sports
						coaching
					</p>
				</div>
				<div class='clients__item'>
					<p>Azarus</p>
					<p>
						Designed concepts and UI for blockchain-based Twitch
						extension overlay games
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class='container end'>
			<div class='slider'>
				<div class='canvas-embed'>
					<svg
						width='100'
						height='100'
						viewBox='0 0 100 100'
						id='svgCanvas'
						xmlns='http://www.w3.org/2000/svg'
					>
						<defs>
							<filter
								id='morph'
								color-interpolation-filters='sRGB'
							>
								<feGaussianBlur
									id='gaussianBlur'
									in='SourceGraphic'
									stdDeviation='0'
									result='blur'
								>
								</feGaussianBlur>
								<feComponentTransfer>
									<feFuncA type='discrete' tableValues='0 1'>
									</feFuncA>
								</feComponentTransfer>
							</filter>
						</defs>
					</svg>
				</div>
				<div id='testimonial-area' class='testimonial'>
					<div>
						<div
							id='testimonial-container'
							class='testimonial__area'
							style='position: absolute;'
						>
							<h2 class='testimonial__text' id='quote'>
								"I felt comfortable Chris understood the issue
								then giving him the chance to diagnose it pretty
								much confirmed it."
							</h2>
							<img
								id='headshot'
								src='/images/chriswilson_headshot.png'
								alt="Headshot image of this quote's author"
								author'
							/>
							<h2 class='testimonial__text p1' id='author'>
								Chris Wilson
							</h2>
							<h2 class='testimonial__text p1' id='title'>
								CEO, Monarch Enterprises
							</h2>
						</div>
						<div
							id='testimonial-container'
							class='testimonial__area'
							style='visibility: hidden;'
						>
							<h2 class='testimonial__text' id='longest-quote'>
							</h2>
							<img
								id='headshot'
								style='width: 96px; height: 96px;'
							/>
							<div>
								<h2
									class='testimonial__text'
									id='longest-author'
								>
								</h2>
								<h2
									class='testimonial__text'
									id='longest-title'
								>
								</h2>
							</div>
						</div>
					</div>
					<div class='controls'>
						<div class='controls__arrows'>
							<button
								id='controls__left'
								tabindex='0'
								class='controls__arrow'
								><img
									src='/images/arrow--left.svg'
									loading='lazy'
									alt='Indicating left'
								/></button
							>
							<button
								id='controls__right'
								tabindex='0'
								class='controls__arrow'
							>
								<img
									src='/images/arrow--right.svg'
									loading='lazy'
									alt='Indicating right'
									class='image-3'
								/>
							</button>
						</div>

						<div
							id='control-indicator-div'
							class='control-indicators'
						>
							<div
								class='control-indicator'
								id='indicator-0'
								style='background-color: rgb(58, 54, 69);'
							>
							</div>
							<div
								class='control-indicator'
								id='indicator-1'
								style='background-color: white;'
							>
							</div>
							<div
								class='control-indicator'
								id='indicator-2'
								style='background-color: rgb(58, 54, 69);'
							>
							</div>
							<div
								class='control-indicator'
								id='indicator-3'
								style='background-color: rgb(58, 54, 69);'
							>
							</div>
							<div
								class='control-indicator last-indicator'
								id='indicator-4'
								style='background-color: rgb(58, 54, 69);'
							>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id='mobile-detector' class='mobile-detector'></div>
		</div>
	</section>
	<script src='/js/morph-slider.js' type='module' is:inline async></script>
</Base>
