---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container end'>
			<h1>
				Let’s talk about your next project, collaborating together, or
				simply say hello
			</h1>
		</div>
	</section>
</Base>
