---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>
				Visionmorph is a design agency that increases work productivity
				by making software easier to use for B2B SaaS companies
			</h1>
		</div>
	</section>
	<section>
		<div class='container'>
			<img class='view-project-image' src='images/readiness.jpg' />
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/projects/template'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<img class='view-project-image' src='images/blank.jpg' />
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/projects/template'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<img class='view-project-image' src='images/blank.jpg' />
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/projects/template'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='feature'>
				<div class='feature__caption'>
					<div>
						<h1>Future vision</h1>
						<p>
							Shaping the future of how business happens today for
							B2B SaaS companies who want to gain a competitive
							advantage by elevating their organizations UX
							maturity
						</p>
					</div>
				</div>
				<div class='feature__graphic'></div>
			</div>
		</div>
	</section>
</Base>
