---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>
				Visionmorph is a design agency that increases work productivity
				by making software easier to use for B2B SaaS companies
			</h1>
		</div>
	</section>
	<section>
		<div class='container'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/data-driven-readiness/first.png'
				alt='Create sortie'
				width='1600px'
				height='1138px'
			/>
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/chrisdenais.com/projects/data-driven-readiness'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/first.png'
				alt='COWBOYCYBORG44'
				width='1600px'
				height='1202px'
			/>
			<h1>
				Pioneering web3 user experiences for Exo pilots inhabiting
				planet Atmos
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/chrisdenais.com/projects/atmos'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/skillmasters/first.png'
				alt='Screenshot of UI/UX for this case study'
				width='1600px'
				height='1202px'
			/>
			<h1>Bridging the talent gap for youth sports with SkillMasters</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/chrisdenais.com/projects/skillmasters'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='feature'>
				<div class='feature__caption'>
					<div>
						<h1>Future vision</h1>
						<h2>
							Shaping the future of how business happens today for
							B2B SaaS companies who want to gain a competitive
							advantage by elevating their organizations UX
							maturity
						</h2>
					</div>
				</div>
				<div class='feature__graphic'></div>
			</div>
		</div>
	</section>
</Base>
