---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>
				Christopher Denais is a designer who makes software easier to
				use and increases work productivity for B2B SaaS companies
			</h1>
		</div>
	</section>
	<section>
		<a class='container' href='/chrisdenais.com/case-studies/dod'>
			<div class='view-project-video'>
				<video
					autoplay
					loop
					muted
					playsinline
					width='1600px'
					height='1200px'
					src='/chrisdenais.com/content/projects/dod/animation.mp4'
				></video>
			</div>
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<button
					class='button no-top-margin'
					tabindex='0'
					class='no-margin'
				>
					View case study
				</button>
			</div>
		</a>
	</section>
	<section>
		<a class='container' href='/chrisdenais.com/projects/atmos'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/01.png'
				alt='COWBOYCYBORG44'
				width='1600px'
				height='1202px'
			/>
			<h1>
				Pioneering web3 user experiences for Exo pilots inhabiting
				planet Atmos
			</h1>
			<div class='column-grid'>
				<button
					class='button no-top-margin'
					tabindex='0'
					class='no-margin'
				>
					View case study
				</button>
			</div>
		</a>
	</section>
	<section>
		<a class='container' href='/chrisdenais.com/projects/skillmasters'
			><img
				class='view-project-image borderless'
				src='/chrisdenais.com/content/projects/skillmasters/01.png'
				alt='BRIDGING TALENT THE GAP FOR YOUTH SPORTS'
				width='1600px'
				height='1202px'
			/>
			<h1>Bridging the talent gap for youth sports with SkillMasters</h1>
			<div class='column-grid'>
				<button
					class='button no-top-margin'
					tabindex='0'
					class='no-margin'
				>
					View case study
				</button>
			</div>
		</a>
	</section>
	<section>
		<div class='container'>
			<div class='feature'>
				<div class='feature__caption'>
					<div>
						<h1>Future vision</h1>
						<h2>
							Shaping the future of how business happens today for
							B2B SaaS companies who want to gain a competitive
							advantage by elevating their organizations UX
							maturity
						</h2>
					</div>
				</div>
				<div class='feature__graphic'>
					<img
						width='100%'
						src='/chrisdenais.com/images/graphic.webp'
					/>
				</div>
			</div>
		</div>
	</section>
</Base>
