---
import Base from '../layouts/Base.astro'
import Button from '../components/Button.astro'
import Link from '../components/Link.astro'
---

<Base>
	<section>
		<div class='container'>
			<div class='hero__row'>
				<h1>
					Hey I'm Chris — a designer with 8+ years of experience crafting user experiences 
					for small and large SaaS companies.
				</h1>
				<img src='/images/chrisred.png'/>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='lead__caption'>
				<div class='lead__tile'>
					<h2>
						Shaping The Department of War’s maneuver analysis experience. 
						<span class='text-secondary'>
							Reimagined the workflow giving pilots a clear path to improving mission readiness.
						</span>
					</h2>
					<Link 
						href='/case-studies/dod' 
						text='Learn more ->' 
						size='h2'}
					/>
				</div>
				<a href='/case-studies/dod'>
					<img
						class='view-project-image'
						src='/content/case-studies/dod/ddr.png'
						alt='User interface design of Data Driven Readines with maneuvers graded by AI, a viewport 
						that simulates flights, and a timeline that visualizes flight performance data'
					/>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div class='lead__tile'>
					<h2>
						Pioneering the Web3 portal experience for Exo pilots on Planet Atmos. 
						<span class='text-secondary'>
							Redesigned the portal to simplify the onboarding process and to easier access blockchain items.
						</span>
					</h2>
					<Link 
						href='/case-studies/atmos' 
						text='Learn more ->' 
						size='h2'}
					/>
				</div>
				<a href='/case-studies/atmos'>
					<video
						autoplay
						loop
						muted
						playsinline
						class='view-project-image'
						src='https://media.contra.com/video/upload/fl_progressive/q_auto:best,w_1600/twkqyeauwgccv77hxdwj.mp4'
						alt='A futuristic dashboard design of Planet Atmos website with the MKIV Datacard in the hero section, 
						followed by an Upcoming Releases section'
					></video>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
				<div class="lead__caption">
					<div class='lead__tile'>
						<h2>
							Scaling design systems for accessibility with Johnson & Johnson. 
							<span class='text-secondary'>
								Reducing design debt to enhance team collaboration and establish a scalable foundation.
							</span>
						</h2>
						<Link 
							href='/case-studies/jnj' 
							text='Learn more ->' 
							size='h2'}
						/>
					</div>
					<a href='/case-studies/jnj'>
						<video
							autoplay
							loop
							muted
							playsinline
							class='view-project-image'
							src='/content/case-studies/jnj/responsive.mp4'
							alt='Responsive user interface design components that are transforming in size'
						></video>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div class='lead__tile'>
					<h2>
						Giving young athletes access to professional coaches with SkillMasters. 
						<span class='text-secondary'>
							Streamlined the onboarding and workout recordings for receiving personalized feedback.
						</span>
					</h2>
					<Link 
						href='/case-studies/skillmasters' 
						text='Learn more ->' 
						size='h2'}
					/>
				</div>
				<a href='/case-studies/skillmasters'>
					<video
						autoplay
						loop
						muted
						playsinline
						class='view-project-image'
						src='/content/case-studies/skillmasters/skillmastersvideo.mp4'
						alt='Three mobile screens, the first screen is showing a dashboard, the second screen shows the landing page 
						that reads Bridging the Talent Gap For Youth Sports, the third screen shows a young athelete practicing soccer'
					></video>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris is really easy to work with and has good knowledge of B2B SaaS space
					</h2>
					<div class='clients__author'>
						<p>
							Salman Sajid
						</p>
						<p class='text-secondary'>
							CEO, Sajid Creative
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Christopher takes interest in making sure the whole user experience works, 
						knows best practices and guides the client to good design decisions.
					</h2>
					<div class='clients__author'>
						<p>
							Giovanna Medeiros
						</p>
						<p class='text-secondary'>
							Head of Design, BotCity
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Chris was a great and responsive design partner.
					</h2>
					<div class='clients__author'>
						<p>
							Ben Staples
						</p>
						<p class='text-secondary'>
							Product Manager, Alpine Home Air Products
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						The biggest benefit was the level of collaboration Chris had with the entire team, 
						he established good relationships with everybody including myself, the development team, and internal stakeholders
					</h2>
					<div class='clients__author'>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Hiring Chris brought us instant relaxation. Having someone dedicated to solving usability and 
						design problems allowed us to free up other team members to do their jobs.
					</h2>
					<div class='clients__author'>
						<p>
							Julian Capps
						</p>
						<p class='text-secondary'>
							Head of Defense, Crowdbotics
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Chris’ commitment to the Figma design deliverables, project timeline, and satisfaction of end users was 
						top notch. He's a talented and highly capable designer.
					</h2>
					<div class='clients__author'>
						<p>
							Mason Shewman
						</p>
						<p class='text-secondary'>
							CEO & Founder, Anvil Digital
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Working with Chris was an excellent experience. He was able to put forth thoughtful solutions and have solid 
						reasoning to back up his design decisions.
					</h2>
					<div class='clients__author'>
						<p>
							Stephen Kurshner
						</p>
						<p class='text-secondary'>
							Product Manager, Atmos Labs
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						I felt comfortable Chris understood the issue then giving him the chance to diagnose it pretty much 
						confirmed it. Chris’ approach was a lot more holistic in a sense that everything tied together from 
						the beginning.
					</h2>
					<div class='clients__author'>
						<p>
							Chris Wilson
						</p>
						<p class='text-secondary'>
							CEO & Founder, R3VOLUTION DIGITAL
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Chris did an amazing job on our mobile application redesign and I would highly recommend him.
					</h2>
					<div class='clients__author'>
						<p>
							Jacob Henderson
						</p>
						<p class='text-secondary'>
							CEO & Founder, SkillMasters
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</Base>
