---
import Base from '../layouts/Base.astro'
import Button from '../components/Button.astro'
import Link from '../components/Link.astro'
---

<Base>
	<section>
		<div class='container'>
			<div class='hero__row'>
				<h1>
					Hey I'm Chris — a designer with 8+ years of experience crafting user experiences 
					for small and large SaaS companies.
				</h1>
				<img src='/images/chrisred.png'/>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='lead__caption'>
				<div class='lead__tile'>
					<h2>
						Shaping The Department of War’s maneuver analysis experience. 
						<span class='text-secondary'>
							Reimagined the workflow giving pilots a clear path to improving mission readiness.
						</span>
					</h2>
					<Link 
						href='/case-studies/dod' 
						text='Learn more ->' 
						size='h2'
						icon={`<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path='url(#clip0_4305_23913)'>
						  <path d='M27 9L24.855 11.0895L36.225 22.5H6V25.5H36.225L24.855 36.8595L27 39L42 24L27 9Z' fill='currentColor'/>
						</g>
						<defs>
						  <clipPath id='clip0_4305_23913'>
							<rect width='48' height='48' fill='currentColor'/>
						  </clipPath>
						</defs>
						</svg>`}
					/>
				</div>
				<a href='/case-studies/dod'>
					<img
						class='view-project-image'
						src='/content/case-studies/dod/ddr.png'
						alt='User interface design of Data Driven Readines with maneuvers graded by AI, a viewport 
						that simulates flights, and a timeline that visualizes flight performance data'
					/>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div style='max-width: 1196px;'>
					<h2>
						Pioneering the Web3 portal experience for Exo pilots on Planet Atmos. 
						<span class='text-secondary'>
							Redesigned the portal to simplify the onboarding process and to easier access blockchain items.
						</span>
					</h2>
				</div>
				<a href='/case-studies/atmos'>
					<video
						autoplay
						loop
						muted
						playsinline
						class='view-project-image'
						src='https://media.contra.com/video/upload/fl_progressive/q_auto:best,w_1600/twkqyeauwgccv77hxdwj.mp4'
						alt='A futuristic dashboard design of Planet Atmos website with the MKIV Datacard in the hero section, 
						followed by an Upcoming Releases section'
					></video>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
				<div class="lead__caption">
					<div style='max-width: 1196px;'>
						<h2>
							Scaling design systems for accessibility with Johnson & Johnson. 
							<span class='text-secondary'>
								Reducing design debt to enhance team collaboration and establish a scalable foundation.
							</span>
						</h2>
					</div>
					<a href='/case-studies/jnj'>
						<video
							autoplay
							loop
							muted
							playsinline
							class='view-project-image'
							src='/content/case-studies/jnj/responsive.mp4'
							alt='Responsive user interface design components that are transforming in size'
						></video>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div style='max-width: 1196px;'>
					<h2>
						Giving young athletes access to professional coaches with SkillMasters. 
						<span class='text-secondary'>
							Streamlined the onboarding and workout recordings for receiving personalized feedback.
						</span>
					</h2>
				</div>
				<a href='/case-studies/skillmasters'>
					<video
						autoplay
						loop
						muted
						playsinline
						class='view-project-image'
						src='/content/case-studies/skillmasters/skillmastersvideo.mp4'
						alt='Three mobile screens, the first screen is showing a dashboard, the second screen shows the landing page 
						that reads Bridging the Talent Gap For Youth Sports, the third screen shows a young athelete practicing soccer'
					></video>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris was able to look at the problem space and come up with a paradigm of what the high level flow should be.
					</h2>
					<div class='clients__author'>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Hiring Chris brought us instant relaxation. Before working with Chris I didn’t realize how much it would 
						take to do the research sitting down with pilots to better solve their problems.
					</h2>
					<div class='clients__author'>
						<p>
							Julian Capps
						</p>
						<p class='text-secondary'>
							Head of Defense, Crowdbotics
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						Chris’ commitment to the Figma design deliverables, project timeline, and satisfaction of end users was top notch.
					</h2>
					<div class='clients__author'>
						<p>
							Mason Shewman
						</p>
						<p class='text-secondary'>
							CEO & Founder, Anvil Digital
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						We were particularly impressed with both his efficiency and thoroughness.
					</h2>
					<div class='clients__author'>
						<p>
							Stephen Kurshner
						</p>
						<p class='text-secondary'>
							Product Manager, Atmos Labs
						</p>
					</div>
				</div>
				<div class='clients__item'>
					<h2>
						I felt comfortable Chris understood the issue then giving him the chance to diagnose it pretty much confirmed it.
					</h2>
					<div class='clients__author'>
						<p>
							Chris Wilson
						</p>
						<p class='text-secondary'>
							CEO & Founder, R3VOLUTION DIGITAL
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</Base>
