---
import Base from '../layouts/Base.astro'
import Button from '../components/Button.astro'
---

<Base>
	<section>
		<div class='container'>
			<div class='link__row'>
				<h1>
					Hey I'm Chris — a designer with 8+ years of experience crafting user experiences 
					for small and large SaaS companies.
				</h1>
				<img src='/images/chrisred.png'/>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div style='max-width: 1196px;'>
					<h2>
						Shaping the future of pilot training with AI-driven maneuver analysis
					</h2>
					<h2 class='text-secondary'>
						The new DDR experience clarified performance grading, streamlined controls, and 
						layered AI insights, giving pilots a clear path to improving mission readiness
					</h2>
				</div>
				<a href='/case-studies/dod'>
					<img
						class='view-project-image'
						src='/content/case-studies/dod/ddr.png'
						alt='User interface design of Data Driven Readines with maneuvers graded by AI, a viewport 
						that simulates flights, and a timeline that visualizes flight performance data'
					/>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div style='max-width: 1196px;'>
					<h2>
						Pioneering the Web3 portal experience for Exo pilots on Planet Atmos
					</h2>
					<h2 class='text-secondary'>
						The portal was redesigned to simplify onboarding, helping Exo 
						pilots easily access and manage their blockchain items
					</h2>
				</div>
				<a href='/case-studies/atmos'>
					<video
						autoplay
						loop
						muted
						playsinline
						class='view-project-image'
						src='https://media.contra.com/video/upload/fl_progressive/q_auto:best,w_1600/twkqyeauwgccv77hxdwj.mp4'
						alt='A futuristic dashboard design of Planet Atmos website with the MKIV Datacard in the hero section, 
						followed by an Upcoming Releases section'
					></video>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
				<div class="lead__caption">
					<div style='max-width: 1196px;'>
						<h2>
							Unifying design systems to scale accessibility in healthcare
						</h2>
						<h2 class='text-secondary'>
							Teams now work from a singular design system that reduces design debt, speeds up collaboration, and provides a scalable foundation
						</h2>
					</div>
					<a href='/case-studies/jnj'>
						<video
							autoplay
							loop
							muted
							playsinline
							class='view-project-image'
							src='/content/case-studies/jnj/responsive.mp4'
							alt='Responsive user interface design components that are transforming in size'
						></video>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__caption">
				<div style='max-width: 1196px;'>
					<h2>
						Bridging the talent gap for youth sports with SkillMasters
					</h2>
					<h2 class='text-secondary'>
						Streamlining onboarding and workout recordings for young athletes to connect with college coaches for personalized feedback
					</h2>
				</div>
				<a href='/case-studies/skillmasters'>
					<video
						autoplay
						loop
						muted
						playsinline
						class='view-project-image'
						src='/content/case-studies/skillmasters/skillmastersvideo.mp4'
						alt='Three mobile screens, the first screen is showing a dashboard, the second screen shows the landing page 
						that reads Bridging the Talent Gap For Youth Sports, the third screen shows a young athelete practicing soccer'
					></video>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris was able to look at the problem space and come up with a paradigm of what the high level flow should be.
					</h2>
					<div>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris was able to look at the problem space and come up with a paradigm of what the high level flow should be.
					</h2>
					<div>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris was able to look at the problem space and come up with a paradigm of what the high level flow should be.
					</h2>
					<div>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris was able to look at the problem space and come up with a paradigm of what the high level flow should be.
					</h2>
					<div>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
			<div class='clients'>
				<div class='clients__item'>
					<h2>
						Chris was able to look at the problem space and come up with a paradigm of what the high level flow should be.
					</h2>
					<div>
						<p>
							Mike McGonagle
						</p>
						<p class='text-secondary'>
							CTO Practice Lead, BostonCIO
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</Base>
