---
import Base from '../layouts/Base.astro'
---

<Base>
	<div class='section'>
		<div class='container no-top-margin'>
			<nav>
				<a class='h2 link' href='/'>Visionmorph</a>
				<a class='h2 link' href='/clients'>Clients</a>
				<a class='h2 link' href='/contacts'>Contact</a>
			</nav>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<h1>
				Visionmorph is a design agency that increases work productivity
				by making software easier to use for B2B SaaS companies
			</h1>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<img class='view-project-image' src='images/readiness.jpg' />
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<img class='view-project-image' src='images/blank.jpg' />
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<img class='view-project-image' src='images/blank.jpg' />
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
			<div class='column-grid'>
				<a
					class='button'
					href='/'
					tabindex='0'
					class='button submit no-margin'>View case study</a
				>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='feature'>
				<div class='feature__caption'>
					<div>
						<h1>Future vision</h1>
						<p>
							Shaping the future of how business happens today for
							B2B SaaS companies who want to gain a competitive
							advantage by elevating their organizations UX
							maturity
						</p>
					</div>
				</div>
				<div class='feature__graphic'></div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container no-top-margin'>
			<footer>
				<div class='footer__contact'>
					<h1>Let's talk</h1>
					<a class='h1 underscore' href='/contact'
						>chrisdenais@gmail.com</a
					>
				</div>
				<div class='footer__menu'>
					<a class='h2 link' href='/'>LinkedIn</a>
					<a class='h2 link' href='/clients'>Instagram</a>
					<a class='h2 link' href='/contacts'>Dribbble</a>
					<a class='h2 link' href='/clients'>Upwork</a>
				</div>
				<div class='footer__note'>
					<p>Positively disrupting the paradigm</p>
				</div>
			</footer>
		</div>
	</div>
</Base>
