---
import Base from '../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>
				Christopher Denais is a designer who makes software easier to
				use and increases work productivity for B2B SaaS companies
			</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__tile">
				<div class="lead__caption">
					<h2>
						Shaping the future of pilot training with AI-driven maneuver analysis
					</h2>
					<p>
						The new DDR experience clarified performance grading, streamlined controls, and layered AI insights, giving pilots a clear path to improving mission readiness
					</p>
					<a href='/case-studies/dod'>
						<button
							tabindex='0'
						>
							Read case study
						</button>
					</a>
				</div>
			<img
				class='view-project-image'
				src='/content/case-studies/dod/ddr.png'
				alt='User interface design of Data Driven Readines with maneuvers graded by AI, a viewport that simulates flights, and a timeline that visualizes flight performance data'
			/>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__tile">
				<div class="lead__caption">
					<h2>
						Pioneering the Web3 portal experience for Exo pilots on Planet Atmos
					</h2>
					<p>
						The portal was redesigned to simplify onboarding, helping Exo pilots easily access and manage their blockchain items
					</p>
					<a href='/case-studies/atmos'>
						<button
							tabindex='0'
						>
							Read case study
						</button>
					</a>
				</div>
			<img
				class='view-project-image'
				src='/content/case-studies/atmos/home.png'
				alt='A futuristic dashboard design of Planet Atmos website with the MKIV Datacard in the hero section, followed by an Upcoming Releases section'
			/>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__tile">
				<div class="lead__caption">
					<h2>
						Unifying design systems to scale accessibility in healthcare
					</h2>
					<p>
						Teams now work from a singular design system that reduces design debt, speeds up collaboration, and provides a scalable foundation
					</p>
					<a href='/case-studies/jnj'>
						<button
							tabindex='0'
						>
							Read case study
						</button>
					</a>
				</div>
				<video
					autoplay
					loop
					muted
					playsinline
					width='1600px'
					height='1200px'
					src='/content/case-studies/jnj/responsive.mp4'
					alt='Responsive user interface design components that are transforming in size'
				></video>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="lead__tile">
				<div class="lead__caption">
					<h2>
						Bridging the talent gap for youth sports with SkillMasters
					</h2>
					<p>
						Streamlining onboarding and workout recordings for young athletes to connect with college coaches for personalized feedback
					</p>
					<a href='/case-studies/skillmasters'>
						<button
							tabindex='0'
						>
							Read case study
						</button>
					</a>
				</div>
			<img
				class='view-project-image'
				src='/content/case-studies/skillmasters/skillmasterscover.png'
				alt='Three mobile screens, the first screen is showing a dashboard, the second screen shows the landing page that reads Bridging the Talent Gap For Youth Sports, the third screen shows a young athelete practicing soccer'
			/>
			</div>
		</div>
	</section>
	<section>
		<div class='container'>
			<h2>Previous clients</h2>
			<div class='clients'>
				<div class='clients__item'>
					<p>Monaco Enterprises</p>
					<p>
						Ongoing user research and design for an emergency
						management software
					</p>
				</div>
				<div class='clients__item'>
					<p>AIOZ</p>
					<p>
						Ongoing design system optimization for a layer-1
						blockchain network
					</p>
				</div>
				<div class='clients__item'>
					<p>U.S. Department of Defense</p>
					<p>
						Desktop UI and UX design for a next-generation flight
						safety tool
					</p>
				</div>
				<div class='clients__item'>
					<p>Johnson & Johnson</p>
					<p>
						Optimized a design system for a touchscreen device used
						in surgical operating rooms
					</p>
				</div>
				<div class='clients__item'>
					<p>Atmos</p>
					<p>
						Design system and UI/UX for a blockchain-based racing
						game 400 years in the future
					</p>
				</div>
				<div class='clients__item'>
					<p>Vecna</p>
					<p>
						UI and UX designs for electronic medical records
						software and patient check-in kiosk
					</p>
				</div>
				<div class='clients__item'>
					<p>Andover</p>
					<p>
						Optimized desktop UI designs and participated in
						usability tests for insurance agent portal
					</p>
				</div>
				<div class='clients__item'>
					<p>Prysm</p>
					<p>
						Concept designs and interactive prototypes for wall
						mounted touchscreen displays
					</p>
				</div>
				<div class='clients__item'>
					<p>R3VOLUTION DIGITAL</p>
					<p>
						Mobile UI designs for blockchain-based live music event
						application
					</p>
				</div>
				<div class='clients__item'>
					<p>Wirehead</p>
					<p>
						Responsive website design for metaverse-based gaming
						universe
					</p>
				</div>
				<div class='clients__item'>
					<p>Skillmasters</p>
					<p>
						Mobile UI/UX design and branding for on-demand sports
						coaching
					</p>
				</div>
				<div class='clients__item'>
					<p>Azarus</p>
					<p>
						Designed concepts and UI for blockchain-based Twitch
						extension overlay games
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class='container end'>
			<h2>Testimonials</h2>
			<div class='slider'>
				<div class='canvas'>
					<svg
						width='100'
						height='100'
						viewBox='0 0 100 100'
						id='svgCanvas'
						xmlns='http://www.w3.org/2000/svg'
					>
						<defs>
							<filter
								id='morph'
								color-interpolation-filters='sRGB'
							>
								<feGaussianBlur
									id='gaussianBlur'
									in='SourceGraphic'
									stdDeviation='0'
									result='blur'
								>
								</feGaussianBlur>
								<feComponentTransfer>
									<feFuncA type='discrete' tableValues='0 1'>
									</feFuncA>
								</feComponentTransfer>
							</filter>
						</defs>
					</svg>
				</div>
				<div id='testimonial-area' class='testimonial'>
					<div class='testimonial-text'>
						<div
							id='testimonial-container'
							class='testimonial__area'
							style='position: absolute;'
						>
							<h3 class='testimonial__text hanging' id='quote'>
								I felt comfortable Chris understood the issue
								then giving him the chance to diagnose it pretty
								much confirmed it.
							</h3>
							<img
								id='headshot'
								src='/images/chriswilson_headshot.png'
								alt="Headshot image of this quote's author"
								author'
							/>
							<div>
								<p id='author'>
									<b>Chris Wilson</b>
								</p>
								<p class='testimonial__text' id='title'>
									CEO, Monarch Enterprises
								</p>
							</div>
						</div>
						<div
							id='testimonial-container'
							class='testimonial__area'
							style='visibility: hidden;'
						>
							<h3
								class='testimonial__text hanging'
								id='longest-quote'
							>
							</h3>
							<img
								id='headshot'
								style='width: 96px; height: 96px;'
							/>
							<div>
								<p
									class='testimonial__text'
									id='longest-author'
								>
								<b></b>
								</p>
								<p
									class='testimonial__text'
									id='longest-title'
								>
								</p>
							</div>
						</div>
					</div>
					<div class='controls'>
						<div class='controls__arrows'>
							<a
								id='controls__left'
								tabindex='0'
								class='controls__arrow'
								><img
									src='/images/arrow--left.svg'
									loading='lazy'
									alt='Indicating left'
								/>
							</a>
							<a
								id='controls__right'
								tabindex='0'
								class='controls__arrow'
							>
								<img
									src='/images/arrow--right.svg'
									loading='lazy'
									alt='Indicating right'
									class='image-3'
								/>
							</a>
						</div>

						<div
							id='control-indicator-div'
							class='control-indicators'
						>
						</div>
					</div>
				</div>
			</div>
			<div id='mobile-detector' class='mobile-detector'></div>
		</div>
	</section>
	<script
		src='/js/morph-slider.js'
		type='module'
		is:inline
		async>
	</script>
</Base>
