---
const { roles, industry, year } = Astro.props
---

<section>
	<div class='container content compact first'>
		<div class='content__info'>
			<span>
				<p class='p2'>Role</p>
				{roles ? roles.map((role, i) => <p>{role}</p>) : null}
			</span>
			<span>
				<p class='p2'>Industries</p>
				{industry ? industry.map((ind, i) => <p key={i}>{ind}</p>) : null}
			</span>
			<span>
				<p class='p2'>Timeline</p>
				<p>{year}</p>
			</span>
		</div>
	</div>
</section>
