---
const { src, alt, width, height } = Astro.props
---

<section>
  <div class='container'>
    <div class='video__wrapper'>
      <video
        class='video__player'
        autoplay
        loop
        muted
        playsinline
        width={width}
        height={height}
        src={src}></video>
    </div>
  </div>
</section>
