---
const { src, alt } = Astro.props
---

<section>
	<div class='container'>
		<video
			class='view-project-video'
			autoplay
			loop
			muted
			playsinline
			width='1600px'
			height='1138px'
			src='/chrisdenais.com/content/projects/dod/animation.mp4'></video>
	</div>
</section>
