---
interface Props {
  href: string;
  text: string;
  icon?: any; // optional JSX/HTML element
  target?: string;
  rel?: string;
}

const {
  href,
  text,
  icon,
  target = "_self",
  rel = "noopener noreferrer",
} = Astro.props;
---

<a href={href} target={target} rel={rel} class="link">
  <span class="link-text">{text}</span>
  {icon && icon}
</a>
