---
const { title, links } = Astro.props
---

<section>
	<div class='container no-top-margin'>
		<div class='link__group'>
			<p>{title}</p>
			{
				links &&
					links.map(({ href, label }) => (
						<a
							class='h3 link underscore icon'
							target='_blank'
							href={href}
						>
							{label}
						</a>
					))
			}	
		</div>
		
	</div>
</section>
