---
const { title, links } = Astro.props
---

<section>
	<div class='container no-top-margin'>
		<div class='link__group'>
			<h2>{title}</h2>
			{
				links &&
					links.map(({ href, label }) => (
						<a
							class='link'
							target='_blank'
							href={href}
						>
							{label}
						</a>
						<hr />
					))
			}	
		</div>
		
	</div>
</section>
