---
const {
	href,
	label,
	thumbnail: { src: thumbnailSrc, size: thumbnailSize }
} = Astro.props
---

<section>
	<div class='container slim'>
		<h1>Next up</h1>
		<div class='next__grid'>
			<div class='next__caption'>
				<h2>
					{label}
				</h2>
				<button
					class='button no-top-margin'
					tabindex='0'
					class='no-margin'
				>
					View case study
				</button>
			</div>
			<img src={thumbnailSrc} class='view-project-image full' />
		</div>
	</div>
</section>