---
const {
  href,
  label,
  thumbnail: { src, size, video }
} = Astro.props
---

<section>
  <div class='container slim'>
    <h1>Next up</h1>
    <a href={href} class='next__grid'>
      <div class='next__caption'>
        <h2>{label}</h2>
        <div class='next__container'>
          <p class='next__arrow' style='font-size: 36px;'>-></p>
        </div>
      </div>

      {video ? (
        <video 
          autoplay 
          loop 
          muted 
          playsinline 
          class="full"
          style="width: 100%; height: auto;"
        >
          <source src={video} type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      ) : (
        <img
          src={src}
          width={size?.[0] || '1600'}
          height={size?.[1] || '1200'}
          class='view-project-image full'
        />
      )}
    </a>
  </div>
</section>
