---
const { quote, author, title } = Astro.props;
---

<div class='quote-container'>
    <h2>"{quote}"</h2>
    <div class='clients__author'>
        <p class='b'>{author}</p>
        <p>{title}</p>
    </div>
    <hr class='hr-subtle' />
</div>
