---
const { quote, author, title, company } = Astro.props;
---

<div class='quote-container'>
    <h2>"{quote}"</h2>
    <div class='clients__author'>
        <p><span class='b'>{author}</span></p>
        <p>{title}</p>
        <p>{company}</p>
    </div>
</div>
