---
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
---

<Base>
	<Title>
		Pioneering web3 user experiences for Exo pilots inhabiting planet Atmos
	</Title>
	<section>
		<div class='container'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/01.png'
				alt='COWBOYCYBORG44'
				width='1600px'
				height='1202px'
			/>
		</div>
	</section>
	<section>
		<div class='container'>
			<h1>
				Atmos is an expansive universe dedicated to metaverse-native
				sports. The portal area exists as a pre-cursor to ExoGP racing
				for players to further interact with items they own on the
				blockchain.
			</h1>
		</div>
	</section>
	<section>
		<div class='container compact end'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/02.png'
				alt='MKIV PROTO HELM'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/03.png'
				alt='COLLECTIONS'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/04.png'
				alt='PREFERENCES'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/05.png'
				alt='Recent releases'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image'
				src='/chrisdenais.com/content/projects/atmos/06.png'
				alt='Login page for Atmos'
				width='1600px'
				height='1202px'
			/>
		</div>
	</section>
	<section>
		<div class='container end'>
			<p>Next case study</p>
			<a
				class='h1 link underscore-offset next-case-study'
				href='/chrisdenais.com/projects/skillmasters'
				>Bridging the talent gap for youth sports with SkillMasters</a
			>
			<img
				class='next-preview'
				width='528px'
				height='396px'
				src='/chrisdenais.com/content/projects/skillmasters/thumbnail.png'
				alt='Thumbnail of SkillMasters case study'
			/>
		</div>
	</section>
	<script is:inline>
		const nextCaseStudy = document.querySelector('.next-case-study')
		const nextPreview = document.querySelector('.next-preview')
		nextCaseStudy.addEventListener('mousemove', evt => {
			nextPreview.style.setProperty(
				'--next-case-study-preview-top',
				evt.clientY + 'px'
			)
			nextPreview.style.setProperty(
				'--next-case-study-preview-left',
				evt.clientX + 'px'
			)
		})
	</script>
</Base>
