---
import Base from '../../layouts/Base.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>Bridging the talent gap for youth sports with SkillMasters</h1>
		</div>
	</section>
	<section>
		<div class='container'>
			<img
				class='view-project-image borderless'
				src='/content/projects/skillmasters/01.png'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
		</div>
	</section>
	<section>
		<div class='container'>
			<h1>
				SkillMasters gives young athletes access to college coaches for
				personalized feedback. The mobile app was further optimized for
				onboarding new signups and recording training workouts.
			</h1>
		</div>
	</section>
	<section>
		<div class='container compact end'>
			<img
				class='view-project-image borderless'
				src='/content/projects/skillmasters/02.png'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image borderless'
				src='/content/projects/skillmasters/03.png'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
			<div class='view-project-flex'>
				<img
					class='view-project-image borderless flex-child'
					src='/content/projects/skillmasters/04.png'
					alt='Blank project image'
				/>
				<img
					class='view-project-image borderless flex-child'
					src='/content/projects/skillmasters/05.png'
					alt='Blank project image'
				/>
			</div>
		</div>
	</section>
	<NextCaseStudy
		href='/projects/atmos'
		subtitle='Government'
		label='Shaping the future of pilot training with AI-driven maneuver analysis'
		description='The new DDR experience clarified performance grading, streamlined controls, and layered AI insights, giving pilots a clear path to improving mission readiness.'
		thumbnail={{
			src: '/content/case-studies/dod/ddr.png',
		}}
	/>
</Base>
