---
import Base from '../../layouts/Base.astro'
---

<Base>
	<section>
		<div class='container'>
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
		</div>
	</section>
	<section>
		<div class='container'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/images/blank.webp'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
		</div>
	</section>
	<section>
		<div class='container'>
			<h1>
				Air Force pilots conduct post-flight debriefing sessions to
				assess their performance and mistakes, but analog tools such as
				whiteboards for analyzing a 3D flying environment have hindered
				their ability to learn effectively from missions.
			</h1>
		</div>
	</section>
	<section>
		<div class='container end'>
			<img
				class='view-project-image'
				src='/chrisdenais.com/images/blank.webp'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image'
				src='/chrisdenais.com/images/blank.webp'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
			<img
				class='view-project-image'
				src='/chrisdenais.com/images/blank.webp'
				alt='Blank project image'
				width='1600px'
				height='1202px'
			/>
		</div>
	</section>
</Base>
