---
import Base from '../../layouts/Base.astro'
---

<Base>
	<div class='section'>
		<div class='container no-top-margin'>
			<nav>
				<a class='h2 link' href='/'>Visionmorph</a>
				<a class='h2 link' href='/clients'>Clients</a>
				<a class='h2 link' href='/contacts'>Contact</a>
			</nav>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<h1>
				Predicting mission readiness of pilots for The U.S. Department
				of Defense
			</h1>
            <img class='view-project-image' src='images/blank.jpg' />
            <h1>
				Air Force pilots conduct post-flight debriefing sessions to
				assess their performance and mistakes, but analog tools such as
				whiteboards for analyzing a 3D flying environment have hindered
				their ability to learn effectively from missions.
			</h1>
			<img class='view-project-image' src='images/blank.jpg' />
			<img class='view-project-image' src='images/blank.jpg' />
			<img class='view-project-image' src='images/blank.jpg' />
		</div>
	</div>
	<div class='section'>
		<div class='container no-top-margin'>
			<footer>
				<div class='footer__contact'>
					<h1>Let's talk</h1>
					<a class='h1 underscore' href='/contact'
						>chrisdenais@gmail.com</a
					>
				</div>
				<div class='footer__menu'>
					<a class='h2 link' href='/'>LinkedIn</a>
					<a class='h2 link' href='/clients'>Instagram</a>
					<a class='h2 link' href='/contacts'>Dribbble</a>
					<a class='h2 link' href='/clients'>Upwork</a>
				</div>
				<div class='footer__note'>
					<p>Positively disrupting the paradigm</p>
				</div>
			</footer>
		</div>
	</div>
</Base>
