/* -------------- General ---------------- */

:root {
	font-family: 'Inter', sans-serif;
	font-synthesis: style;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	background: var(--Black, #000);
	color: var(--White, #fff);
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

img,
video {
	max-width: 100%;
}

a {
	text-decoration: none;
	font-family: Inter;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	/* 125% */
}

b {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
blockquote {
	/* Reset */
	margin-block-start: 0rem;
	margin-block-end: 0rem;
	margin-inline-start: 0rem;
	margin-inline-end: 0rem;
}

h1,
.h1 {
	/* H1-desktop */
	font-family: Inter;
	font-size: 5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 5.5rem;
	letter-spacing: -1px;
	color: #ffffff;
	/* 125% */
}

h2,
.h2 {
	/* H2-desktop */
	font-family: Inter;
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.5rem;
	letter-spacing: 0px;
	color: #ffffff;
	/* 122.222% */
}

h3,
.h3 {
	/* H3-desktop */
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	color: #ffffff;
	/* 125% */
}

p,
.p1,
ol,
ul,
li {
	/* P1 */
	font-family: Inter;
	color: #ffffff;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	/* 125% */
}

ol,
ul {
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
	padding-left: 0;
}

.p2 {
	color: #c1c7cd;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.25rem;
}

.text-secondary {
	color: #697077;
}

.text-width {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

blockquote {
	position: relative;
	font-family: Inter;
	font-size: 2rem;
	font-weight: 300;
	line-height: 2.5rem;
	max-width: 1024px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.link {
	color: #FF2200;
	display: inline-flex;     /* align text and icon horizontally */
	align-items: flex-start;
	overflow: visible;
	gap: 0.5rem;              /* space between text and icon */
	width: fit-content;
}

.link-h2 {
	color: #FF2200;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.link-h2:hover {
	text-decoration-thickness: 0.1875rem;
	text-underline-offset: 0.25rem;
}

.link-h2-inverse {
	color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}

@media screen and (max-width: 1024px) {
	.link-h2 {
		font-size: 1.75rem;
		line-height: 2.25rem;
		letter-spacing: 0px;
	}
	.link-h2-inverse {
		font-size: 1.75rem;
		line-height: 2.25rem;
		letter-spacing: 0px;
	}
}

.link:hover {
	color: #FF2200;
	text-decoration: underline;
	text-decoration-thickness: 0.0625rem;
	text-underline-offset: 0.1875rem;
}

.link-h2:hover {
	color: #FF2200;
	text-decoration: underline;
	text-decoration-thickness: 0.1875rem;
	text-underline-offset: 0.25rem;
}

.link-h2-inverse:hover {
	color: #FFF;
	text-decoration: underline;
	text-decoration-thickness: 0.1875rem;
	text-underline-offset: 0.25rem;
}

.link:active,
.link:focus {
	outline-offset: -2px;
	outline: 2px solid #fff;
}

.link:focus-visible {
	color: #fff;
}

.link__group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.hero__row {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 1rem;
	align-items: flex-start;
}

@media only screen and (max-width: 768px) {
	.hero__row {
		flex-direction: column;
	}
}

.link__row {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 1rem;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.link-icon {
	display: inline-flex;
	width: 1.25rem;
	height: 1.25rem;
	min-width: 1.25rem;
	min-height: 1.25rem;
	margin-top: .25rem;
}

.link-icon svg {
	width: 100%;
	height: 100%;
}

.link-icon svg path {
	fill: currentColor;
}

.link__group .link {
  width: 100%;
}

.link__group .link-text {
	flex: 1;
	width: 100%;
}

/* -------------- Horizontal rule ---------------- */

.hr-strong {
  border: 0;
  border-top: 1px solid #697077;
  width: 100%;
  margin: 0;
}

.hr-subtle {
  border: 0;
  border-top: 1px solid #343A3F;
  width: 100%;
  margin: 0;
}

/* -------------- Nav ---------------- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	width: 100%;
	overflow: visible;
	mix-blend-mode: exclusion;
}

/* -------------- Footer ---------------- */

footer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
	align-self: stretch;
	margin-bottom: 4rem;
	justify-content: space-between;
}
/* -------------- Layout ---------------- */

section {
	padding-left: 6rem;
	padding-right: 6rem;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 9999;
	mix-blend-mode: exclusion;
	transition: transform 0.3s ease;
}

.sticky.hide {
	transform: translateY(-100%);
}

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 100rem;
	margin-top: 12rem;
	gap: 2rem;
}

.container.nav {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.container.footer {
	margin-top: 0rem;
}

.container.content {
	margin-top: 9rem;
	margin-bottom: 9rem;
	align-items: center;
}

.content-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

@media (max-width: 768px) {
	.content-grid {
		grid-template-columns: 1fr;
	}

	.content-grid .content-copy {
		order: -1;
	}
}

.no-bottom-margin {
	margin-bottom: 0rem;
}

.column-grid {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 0rem;
	grid-column-gap: 0rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
}

/* -------------- Buttons ---------------- */

button, 
.button {
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	color: #fff;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #fff;
	outline-offset: -2px;
	outline: 2px solid rgba(255, 255, 255, 0);

	text-decoration: none;
	text-align: left;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.75rem;
	font-family: Inter;

	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
}

button.icon-only {
	width: 3rem;
	padding: 0;
	justify-content: center;
}

/* Filled variant */

button.filled {
	color: #000;
	background-color: #fff;
}

/* Hover */

button:hover,
.button:hover,
button.filled:hover,
.button.filled:hover {
	color: #000;
	background-color: #c1c7cd;
}

/* Active */

button:active, 
.button:active,
button.filled:active,
.button.filled:active {
	outline-offset: -4px;
	color: #121619;
	background-color: #a2a9b0;
	outline: 2px solid #000;
}

/* Focus */

button:focus,
.button:focus,
button:focus-visible, 
.button:focus-visible,
button.filled:focus,
.button.filled:focus,
button.filled:focus-visible,
.button.filled:focus-visible {
	outline-offset: -4px;
	color: #000;
	outline: 2px solid #000;
	background-color: #fff;
}

/* Focus + hover */
button:focus:hover,
button:focus-visible:hover,
.button:focus:hover,
.button:focus-visible:hover,
button.filled:focus:hover,
button.filled:focus-visible:hover,
.button.filled:focus:hover,
.button.filled:focus-visible:hover {
	color: #000;
	background-color: #c1c7cd;
}

/* Focus + hover + active (pressed) */
button:focus:hover:active,
button:focus-visible:hover:active,
.button:focus:hover:active,
.button:focus-visible:hover:active,
button.filled:focus:hover:active,
button.filled:focus-visible:hover:active,
.button.filled:focus:hover:active,
.button.filled:focus-visible:hover:active {
	outline-offset: -4px;
	color: #121619;
	background-color: #a2a9b0;
	outline: 2px solid #000;
}

/* Disabled */

button[disabled], 
.button[disabled] {
	color: #4d5358 !important;
	border: solid 1px #4d5358;
	cursor: not-allowed;
	background-color: rgba(255, 255, 255, 0);
}

button.filled[disabled] {
	color: #a2a9b0 !important;
	outline: none;
	border: none;
	background-color: #4d5358;
}

/* -------------- Content ----------------- */

.content__flex {
	display: flex;
	gap: 2rem;
}

.content__flex.vertical {
	flex-direction: column;
	gap: 2rem;
}

.content__info {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
}

/* -------------- Projects ---------------- */

.view-project-image {
	max-width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
}

.view-project-flex {
	display: flex;
	gap: 1rem;
	max-width: 100%;
	justify-content: space-between;
}

.view-project-image.flex-child {
	min-width: 0;
	aspect-ratio: 1 / 1;
}

.view-project-video {
	max-width: 100%;
	aspect-ratio: 4 / 3;
}

.view-project-video.content {
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}

.view-project-video video {
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
	margin: 0;
}

.next__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 1px solid #343a3f;
	align-items: start;
	transition: all 0.2s ease-in-out;
}

.next__grid:hover {
	border: 1px solid #697077;
}

.next__grid h2 {
	text-decoration: underline;
	text-decoration-color: transparent;
}

.next__grid:hover h2 {
	color: #FF2200;
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	transition: all 0.2s ease-in-out;
}

.next__grid h2:last-of-type {
    text-decoration: none;
	color: #ff2200;
}

.next__grid:hover .next__caption {
	background-color: #21272A;
}

.next__grid:focus {
	outline: 2px solid #fff;
	outline-offset: -2px;
}

.next__grid:active {
	outline: 2px solid #fff;
	outline-offset: -2px;
}

.next__grid video,
.next__grid img {
	display: block;
	object-fit: cover;
	aspect-ratio: 4 / 3;
}

.next__caption {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 2rem;
	border-radius: 0;
	background-color: #121619;
	aspect-ratio: 4 / 3;
	box-sizing: border-box;
	transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 768px) {
	.next__caption {
		padding: 1rem;
	}
}

.lead__caption {
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

.lead__tile {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.lead__tile a {
	white-space: nowrap;
}

@media screen and (max-width: 1024px) {
	.lead__tile {
		flex-direction: column;
	}
}
/* -------------- Clients ---------------- */

.clients {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	gap: 4rem;
}

@media screen and (max-width: 768px) {
	.clients {
		grid-template-columns: 1fr;
		padding-left: 1rem;
	}
}

.clients__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.clients__item h2 {
  position: relative;
}

.clients__item h2::before {
  content: '"';
  position: absolute;
  left: -1rem;
}

.clients__item h2::after {
  content: '"';
  margin-left: -0.5rem;
}

.clients__author {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 0.5rem;
}

@media screen and (max-width: 1280px) {
	.clients__author {
		flex-direction: column;
		gap: 0rem;
	}
}

/* -------------- Testimonials ---------------- */

.slider {
	position: relative;
	width: 100%;
}

.canvas {
	position: relative;
}

#svgCanvas {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: black;
}

.desktop-filter {
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	transform: scale(1.00001), translateZ(0.00001);
	-webkit-transform: scale(1.00001), translateZ(0.00001);
	-moz-transform: scale(1.00001), translateZ(0.00001);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-filter: opacity(0.9999);
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 0.35px;

	filter: url(#morph) blur(0.6px);
}

.testimonial {
	flex-direction: column;
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2rem;
}

.testimonial__area {
	display: flex;
	width: 940px;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	flex-shrink: 0;
}

.testimonial__area.longest {
	visibility: hidden;
}

.testimonial-container {
	min-height: 25rem;
	position: absolute;
}

.testimonial-container.filter {
	min-height: 0;
	position: relative;
}

.testimonial-container.filter.ghost {
	opacity: 0;
	position: relative;
}

.testimonial-container.filter.manual {
	max-width: 940px;
}

.testimonial__text {
	opacity: 1;
	transition: opacity 2s ease;
}

.testimonial__text.hanging::before {
	content: '"';
	position: absolute;
	left: -1rem;
}

.testimonial__text.hanging::after {
	content: '"';
}

/* -------------- Testimonial controls ---------------- */

.controls__arrows {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.controls__arrows img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.controls__arrow {
	background: black;
	border: none;
	outline: none;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
}

.controls__arrow::after {
	content: '';
	display: none;
}

.control-indicators {
	width: 100%;
	height: 0.125rem;
	grid-column-gap: 0.125rem;
	display: flex;
}

.control-indicator {
	height: 4px;
	background-color: #3a3645;
	flex: 1;
	display: inline-block;
}

.controls-area {
	display: flex;
	flex-direction: column;
}

.mobile-detector {
	width: 1px;
	height: 1px;
	display: block;
	position: absolute;
}

@media only screen and (max-width: 1295px) {
	.controls-area {
		grid-row: 2;
	}

	.controls {
		float: left;
	}
}

/* -------------- Contact form ---------------- */

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-family: inherit;
}

/* -------------- Submit button (extends button) ---------------- */

.submit {
	margin-top: 0;
}

.submit[data-sending='true']::after {
	content: '';
	opacity: 1;
	background-image: url('https://uploads-ssl.webflow.com/62b632a343e2852836af0565/6462927a2fc3ddabd2553c45_spinner.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 2px;
	position: absolute;
	right: 1rem;
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 0.8s linear infinite;
	transition: opacity 0.125s ease;
}

.submit[data-sending='false'][disabled]::after {
	content: '->';
	min-width: 27px;
	text-wrap: none;
}

@-webkit-keyframes rotating {
	/* Safari and Chrome */
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 800ms linear infinite;
	-moz-animation: rotating 800ms linear infinite;
	-ms-animation: rotating 800ms linear infinite;
	-o-animation: rotating 800ms linear infinite;
	animation: rotating 800ms linear infinite;
}

/* -------------- Field ---------------- */

.form__field {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.form__field label {
	display: block;
	color: #c1c7cd;
	font-size: 1rem;
	line-height: 1.25rem;
	font-family: 'Inter';
	font-weight: 300;
}

/* -------------- Input ---------------- */

/* 
input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px #151515 inset;
	-webkit-text-fill-color: white;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px #011917 inset;
	-webkit-text-fill-color: #3ddbd9;
} */

.form__input {
	box-sizing: border-box;

	display: block;
	width: 100%;
	max-width: 100rem;

	color: white;

	border: none;
	outline: none;
	outline-width: 2px;
	outline-style: solid;
	outline-offset: -2px;
	outline-color: transparent;
	border: 1px solid #878D96;
	background: #121619;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 3rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 300;
	caret-color: white;

	position: relative;
	z-index: 50;

	font-family: Inter;

	transition: outline 150ms linear;
	transition-property: outline-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.form__input:is(.textarea) {
	padding-top: 1rem;
	min-height: 12rem;
	resize: vertical;
	position: relative;

	font-family: Inter;
}

.form__input:is(.textarea)::-webkit-resizer {
	background-image: url('../images/resize_handle.svg');
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 0.75rem;
	min-height: 0.75rem;
	transform: translate(0.5rem, 0.5rem);
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.form__input:focus,
.form__input:focus-visible {
	outline: 2px solid white;
	outline-offset: -2px;
	background: #121619;
}

/* -------------- Form errors ---------------- */

.form__error {
	display: none;
	font-family: Inter;
	font-size: 1rem;
	line-height: 1.25rem;
	font-style: normal;
	font-weight: 300;
	position: relative;
	transition: margin-top 0.3s;
}

.form__error[data-visible='true'] {
	display: block;
}

.form__input.error {
	outline: 2px solid #fa4d56;
}

.form__input.error:focus-visible {
	outline-color: white;
}

.form__field:has(.form__input.error) {
	color: #fa4d56;
}

.form__field:focus-within .form__input.error {
	background: #121619;
}

.form__field:has(.form__input.error) .warning-indicator {
	opacity: 100%;
}

.form__field:has(.form__input.error) .form__error {
	transform: translate(0, 0);
}

.warning-indicator {
	position: absolute;
	top: 2.5rem;
	right: 1rem;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* -------------- Form notification ---------------- */

.notification {
	display: none;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 12px;
	grid-auto-columns: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0px;
	grid-template-columns: 24.5px 1fr;
	grid-template-rows: auto;
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #44bf41;
	background-color: rgba(68, 191, 65, 0.3);
}

.notification-wrapper {
	width: 100%;
	box-sizing: border-box;
}

.notification__emblem {
	position: relative;
	top: 0.125rem;
	width: 24.5px;
	object-fit: contain;

	grid-column-start: span 1;
	grid-column-end: span 1;
	grid-row-start: span 1;
	grid-row-end: span 1;
}

.notification__title {
	margin-bottom: 0px;
	font-weight: 300;

	grid-column-start: span 1;
	grid-column-end: span 1;
	grid-row-start: span 1;
	grid-row-end: span 1;
}

@media only screen and (max-width: 1440px) {
	/* -------------- Layout ---------------- */

	.column-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}


	/* -------------- Testimonials ---------------- */

	.testimonial {
		flex-wrap: wrap;
	}

	.testimonial-text {
		max-width: 100%;
	}

	.testimonial__area {
		max-width: 100%;
	}

	.testimonial-container.filter.manual {
		max-width: 100%;
	}

	/* -------------- Testimonial controls ---------------- */

	.controls {
		margin-top: 3rem;
	}
}

@media screen and (max-width: 1280px) {
	section {
		padding-left: 3rem;
		padding-right: 3rem;
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	h1,
	.h1 {
		font-family: Inter;
		font-size: 3rem;
		font-style: normal;
		line-height: 3.5rem;
		/* 125% */
	}

	.content__flex {
		flex-direction: column;
	}
	
	blockquote {
		position: relative;
		font-family: Inter;
		font-size: 1.75rem;
		font-weight: 300;
		line-height: 2.25rem;
		/* 125% */
	}
}

@media screen and (max-width: 1024px) {
	/* -------------- Layout ---------------- */
	h1,
	.h1 {
		font-family: Inter;
		font-size: 2.625rem;
		font-style: normal;
		line-height: 3.125rem;
	}

	h2,
	.h2 {
		font-family: Inter;
		font-size: 1.75rem;
		font-style: normal;
		line-height: 2.25rem;
		letter-spacing: 0px;
	}

	.next__grid {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	blockquote {
		position: relative;
		font-family: Inter;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.875rem;
		/* 125% */
	}

	/* -------------- Layouts ---------------- */

	.column-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 768px) {
    /* -------------- General ---------------- */

    h1,
    .h1 {
        font-family: Inter;
        font-size: 2.25rem;
        font-style: normal;
        line-height: 2.75rem;
    }
    
    blockquote {
        position: relative;
        font-family: Inter;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.625rem;
        /* 125% */
    }

    .quote-container {
        gap: 2rem;
    }

    footer {
        flex-direction: column;
    }

    /* -------------- Layouts ---------------- */

    .column-grid {
        grid-template-columns: 1fr;
    }

    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content__info {
        flex-direction: column;
    }
    /* -------------- Form errors ---------------- */

    .error .warning-indicator {
        transform: translate(0rem, 28px);
        max-width: 1.5rem;
        left: 0rem;
        bottom: 0rem;
        top: auto;
        right: auto;
    }

    .mobile-detector {
        display: none;
    }

    @media only screen and (max-width: 478px) {
        /* -------------- General ---------------- */

        h1,
        .h1 {
            font-family: Inter;
            font-size: 2rem;
            font-style: normal;
            line-height: 2.5rem;
            letter-spacing: 0px;
            /* 125% */
        }

        .testimonial__text.hanging::before {
            content: '“';
            position: absolute;
            left: -0.5rem;
        }

        /* -------------- Layout ---------------- */

        section {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .column-grid {
            grid-template-columns: 1fr;
        }

        /* -------------- Form errors ---------------- */

        .error .visible-text-field,
        .error .visible-textarea {
            padding-right: 1rem;
        }

        .error .error-message {
            transform: translate(28px, 0rem);
        }

        /* -------------- Blockquote rule -------------- */
        
        .text-width blockquote + div > p {
            margin-bottom: 0rem;
        }
    } /* end max-width: 478px */
} /* end max-width: 768px */
