---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' href='/images/favicon.svg' />
		<link rel='preconnect' href='https://fonts.googleapis.com'>
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap&subset=latin" rel="stylesheet">
		<link rel='stylesheet' type="text/css" href='/styles/global.css' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='description'
			content='Hey I'm Chris — a designer with 8+ years of experience crafting user experiences for small and large SaaS companies.'
		/>
		<title>Chris Denais - Product Designer</title>
		<!-- Google tag (gtag.js) -->
		<script client:load>
			const script = document.createElement('script');
			script.src = 'https://www.googletagmanager.com/gtag/js?id=G-GNFKJNNPQX';
			script.async = true;
			document.head.appendChild(script);
			
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-GNFKJNNPQX', { anonymize_ip: true });
		</script>
	</head>
	<body>
	<section class='sticky'>
		<div class='container nav'>
			<nav>
				<a class='p link' href='/'>Home</a>
				<a class='p link' href='/about'>About</a>
				<a class='p link' href='/contact'>Contact</a>
			</nav>
		</div>
	</section>
    <main>
		<slot />
    </main>
	<section>
		<div class='container'>
			<footer>
				<div class='footer__menu'>
					<p class="p2">
						<b>
							Explore
						</b>
					</p>
					<a
						class='p2 link'
						href='/'>Home
					</a>
					<a
						class='p2 link'
						href='/about'>About
					</a>
					<a
						class='p2 link'
						href='/contact'>Contact
					</a>
				</div>
				<div class='footer__menu'>
					<p class="p2">
						<b>
							Work
						</b>
					</p>
					<a
						class='p2 link'
						href='/case-studies/dod'>Department of Defense
					</a>
					<a
						class='p2 link'
						href='/case-studies/atmos'>Planet Atmos
					</a>
					<a
						class='p2 link'
						href='/case-studies/jnj'>Johnson & Johnson
					</a>
					<a
						class='p2 link'
						href='/case-studies/skillmasters'>Skillmasters
					</a>
				</div>
				<div class='footer__menu'>
					<p class="p2">
						<b>
							Follow
						</b>
					</p>
					<a
						class='p2 link'
						href='https://www.linkedin.com/in/chrisdenais/'
						target='_blank'>LinkedIn
					</a>
					<a
						class='p2 link'
						href='https://dribbble.com/chrisdenais'
						target='_blank'>Dribbble
					</a>
					<a
						class='p2 link'
						href='https://www.upwork.com/freelancers/~01631a81c014160c13'
						target='_blank'>Upwork
					</a>
					<a
						class='p2 link'
						href='https://www.instagram.com/chrisdenais/'
						target='_blank'>Instagram
					</a>
				</div>
				<p class="p2">Made in America © 2025 Christopher Denais</p>
			</footer>
		</div>
	</section>
    <script is:inline>
      let lastScrollY = window.scrollY;
      const nav = document.querySelector('.sticky');

      window.addEventListener('scroll', () => {
        if (window.scrollY > lastScrollY) {
          nav.classList.add('hide');
        } else {
          nav.classList.remove('hide');
        }
        lastScrollY = window.scrollY;
      });
	</script>
	</body>
</html>
