---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
import Quote from '../../components/Quote.astro'
---

<Base>
	<Title>Pioneering the Web3 portal experience for Exo pilots on Planet Atmos</Title>
	<ContentSummary
		year='10 months'
		industry='Gaming'
		roles={['UI design','Design systems']}
	>
	</ContentSummary>
 	<Content>
		<img
			src='/content/case-studies/atmos/home.png'
			class='view-project-image content'
			width='1600px'
			height='1200px'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>The challenge</h2>
			<p>
        		Atmos is an expansive universe dedicated to metaverse-native sports. The portal area 
                exists as a pre-cursor to ExoGP racing for players to further interact with items they 
                own on the blockchain.
			</p>
       </div>
	</Content>
	<Content>
		<img
			class='view-project-image'
			src='/content/case-studies/atmos/login.png'
			width='1600px'
			height='1200px'
		/>
		<img
			class='view-project-image'
			src='/content/case-studies/atmos/home.png'
			width='1600px'
			height='1200px'
		/>
		<img
			class='view-project-image'
			src='/content/case-studies/atmos/collections.png'
			width='1600px'
			height='1200px'
		/>
		<img
			class='view-project-image'
			src='/content/case-studies/atmos/transfer.png'
			width='1600px'
			height='1200px'
		/>
		<img
			class='view-project-image'
			src='/content/case-studies/atmos/garage.png'
			width='1600px'
			height='1200px'
		/>
	</Content>
	<Content>
		<h2>Testimonial</h2>
		<Quote
			quote={`Working with Chris was an excellent experience. He was able to put forth thoughtful solutions and have solid reasoning to back up his design decisions. We were particularly impressed with both his efficiency and thoroughness.`}
			author="Stephen Kurshner"
			title="Product Manager, Atmos Labs"
		/>
	</Content>
	<NextCaseStudy
		href='/case-studies/jnj'
		subtitle='Healthcare'
		label='Unifying design systems to scale accessibility in healthcare'
		description='Teams now work from a singular design system that reduces design debt, speeds up collaboration, and provides a scalable foundation'
		thumbnail={{
			src: '/content/case-studies/jnj/responsivehalf.mp4',
		}}
	/>
</Base>
