---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import LinkGroup from '../../components/LinkGroup.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
import Quote from '../../components/Quote.astro'
import fs from 'fs'
import path from 'path'

// Read the SVG icon
const iconPath = path.join(process.cwd(), 'public/images/link.svg')
let linkIcon = fs.readFileSync(iconPath, 'utf-8')
linkIcon = linkIcon.replace(/fill="white"/g, 'fill="currentColor"')
---

<Base>
	<Title>Shaping the U.S. Department of War’s maneuver analysis experience</Title>
	<ContentSummary
		year='6 months'
		industry='Government'
		roles={['User research', 'UI design','Interaction design', 'Usability testing']}
	>
	</ContentSummary>
	<Content>
		<img
			src='/content/case-studies/dod/ddr.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class-'content-item-row'>
			<hr class='hr-subtle'>
			<div class='content-item'>
				<div class='content-wrapper'>
					<h3>The challenge</h3>
					<div class='content-text'>
						<p>
							This project supported the U.S. Air Force operating under the Department of Defense, 
							where pilot performance and mission readiness have long been evaluated through 
							instructor-led post-flight reviews.
						</p>
						<p>
							The Air Force has a proud multigenerational tradition of aviation excellence, yet many
							of its training systems were built for a previous era relying on traditional debrief 
							methods, aging hardware, and legacy software not originally designed for artificial 
							intelligence or long-term performance tracking.
						</p>
						<p>
							So despite the U.S. Air Force’s ability to projecting strength, the methods used to assess 
							pilot performance wasn’t evolving at the same pace as what modern technologies could provide.
						</p>
						<p>
							Every flight generates millions of data points capturing maneuvers, reactions, and situational 
							decisions in real time. However, this data gets erased after the end of the debrief leaving any 
							remaining insights scattered in personal notes. This made it difficult for instructors and pilots 
							to understand pilot performance, tracking progress over time, or use the insights to improve safety 
							and skills.
						</p>
						<p>
							With pilots balancing intense schedules and meeting high standards, squadrons needed a way to turn 
							complex data into an enhanced learning experience that supports teamwork, integrates within their 
							current workflow, and helps pilots continuously improve their performance.
						</p>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</Content>
	<Content>
		<Quote
			quote={`Typically at the end of the debrief the student keeps some notes, but we
					erase our tapes. We erase our shot sheets and all the data gets flushed.`}
			author="Major Mark Poppler"
			title="Chief of Innovation, 4th Training Squadron"
			link={{
			href: "https://www.popsci.com/technology/air-force-artificial-intelligence-pilot-training/",
			text: "Learn more about how Seymour Johnson AFB uses Data Driven Readiness",
			icon: linkIcon,
			target: "_blank"
			}}
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Research kick-off</h3>
			<p>
				To understand the problem we conducted usability tests of the 
				current DDR software with five pilots. Pain points we uncovered:
			</p>
			<ul>
				<li>
					<b>Unclear grades</b> -> Ambiguous scoring made it hard for pilots to know how well they performed
				</li>
				<li>
					<b>Awkward controls</b> -> Limited descriptions made it difficult to view maneuvers from the right angles
				</li>
				<li>
					<b>Inaccurate timestamps</b> -> Maneuvers on the timeline didn’t match actual flight events, requiring tedious scrubbing
				</li>
				<li>
					<b>Isolated notes</b> -> Missing collaboration features made notes only useful as personal reminders
				</li>
			</ul>
		</div>
		<img
			src='/content/case-studies/dod/original-ddr.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Key insights</h3>
			<p>
				Pilots valued DDR’s potential but needed usability improvements before they could fully rely on it. 
				Our research revealed four design priorities:
			</p>
			<ol>
				<li>
					<b>Transparent grading system:</b> Define a clear criteria with detailed explanations and visual indicators
				</li>
				<li>
					<b>Intuitive camera controls:</b> Simplify the interactions and guide users
				</li>
				<li>
					<b>Accurate timestamps:</b> Automatic alignment with actual maneuvers
				</li>
				<li>
					<b>Collaborative notes:</b> Ability to tag team members, add context, and foster discussion
				</li>
			</ol>
		</div>
		<Quote
			quote={`It allows them to get an objective view of what is happening and how they flew and be able to make 
					incremental, sometimes significant changes to how they're flying to be safer, more effective or more lethal.`}
			author="Adam Ha"
			title="Lead F-15E Flight Test Engineer"
			link={{
			href: "https://www.ktnv.com/news/exclusive-nellis-air-force-base-testing-artificial-intelligence-in-combat-training",
			text: "Explore how Nellis Air Force Base is testing Data Driven Readiness",
			icon: linkIcon,
			target: "_blank"
			}}
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Mapping mouse and keyboard controls</h3>
			<p>
				The DDR viewport simulates the aircraft and maneuvers in the browser. Through our user testing it was revealed that:
			</p>
			<ul>
				<li>
					Default mouse controls were restrictive and disorienting
				</li>
				<li>
					No keyboard shortcuts were available
				</li>
			</ul>
			<p>
				I reassigned the mapping of keyboard and mouse controls to:
			</p>
			<ul>
				<li>
					Simplify the controls for better accessibility
				</li>
				<li>
					Added keyboard shortcuts to quickly navigate the timeline
				</li>
			</ul>
		</div>
		<video
			src='/content/case-studies/dod/viewport-animation.mp4'
			src='/content/case-studies/dod/viewport-animation.webm'
			class='view-project-video content'
			autoplay
			loop
			muted
			playsinline
			width='1600px'
			height='1200px'>
		</video>
		<img
			src='/content/case-studies/dod/keyboard-controls.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Reducing cognitive load</h3>
			<p>
				Promoting consistency reduced cognitive load and improved predictability across the platform. 
				We reorganized DDR’s core layout into clear, repeatable sections:
			</p>
			<ol>
				<li>
					<b>Header</b>: Global navigation and system actions
				</li>
				<li>
					<b>Side panel</b>: Supporting details
				</li>
				<li>
					<b>Viewport</b>: Maneuver visualization
				</li>
				<li>
					<b>Timeline</b>: Performance metrics
				</li>
			</ol>
		</div>
		<img
			src='/content/case-studies/dod/ui-template.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Clarity to maneuver grades</h3>
			<p>
				Instead of vague sliding scales, we introduced parameter-level pass/fail grades. 
				This helped pilots pinpoint areas for improvement without ambiguity.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/maneuvers.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Collaborative notes</h3>
			<p>Pilots can now tag teammates, trigger email notifications with mentions, and timestamp notes to reference exact moments 
			in the timeline. These features increase the collaboration between pilots and instructors.</p>
		</div>
		<img
			src='/content/case-studies/dod/notes.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Real-time performance visualization</h3>
			<p>We layered user-generated and AI-driven notes directly onto the timeline reel. Pilots could now:</p>
			<ul>
				<li>
					View note indicators directly on the timeline
				</li>
				<li>
					Access to layered real-time aircraft performance data
				</li>
				<li>
					Cross-check AI evaluations using human judgment
				</li>
			</ul>
		</div>
		<img
			src='/content/case-studies/dod/timeline.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Impact</h3>
			<p>
				We transformed DDR from being difficult to use into a collaborative tool that pilots trust to evaluate and improve their 
				performance, while still fitting into their demanding workflows. The improvements that made the biggest impact for pilots were:
			</p>
			<ul>
				<li>
					Quickly identify performance gaps through transparent grading
				</li>
				<li>
					Navigate flight simulations more efficiently with intuitive controls
				</li>
				<li>
					Collaborate with instructors with interactive notes
				</li>
				<li>
					Cross-evaluations with human analysis from the enhanced visualizations
				</li>
			</ul>
		</div>
		<Quote
			quote={`Hiring Chris brought us instant relaxation. Before working with Chris I didn’t realize how much it would
					take to do the research sitting down with pilots to better solve their problems.`}
			author="Julian Capps"
			title="Head of Defense, Crowdbotics"
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Final thoughts</h3>
			<p>This project was as much about adapting design methods to constraints as it was about building a better tool:</p>
			<ul>
				<li>
					<b>Adapt to user constraints</b> -> Pilots limited availability required leaner, flexible research methods
				</li>
				<li>
					<b>Embrace the learning curve</b> -> The aviation industry is highly technical. Building domain knowledge gave me 
					confidence to drive design decisions
				</li>
				<li>
					<b>Organize research better</b> -> A dedicated repository would have made user research insights easier to share with stakeholders
				</li>
				<li>
					<b>Bridge design and development</b> -> By learning GitHub workflows and contributing to CSS tokens, I accelerated implementation and improved 
					team collaboration
				</li>
			</ul>
		</div>
	</Content>
	<NextCaseStudy
		href='/case-studies/atmos'
		label='Pioneering the Web3 portal experience for Exo pilots on Planet Atmos. '
		description='Redesigned the portal to simplify the onboarding process and to easier access blockchain items.'
		thumbnail={{
			src: 'https://media.contra.com/video/upload/fl_progressive/q_auto:best,w_800/twkqyeauwgccv77hxdwj.mp4',
		}}
	/>
</Base>
