---
import Base from '../../layouts/Base.astro'
import Content from '../../components/Content.astro'
import Title from '../../components/Title.astro'
import Quote from '../../components/Quote.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
---

<Base>
	<Title>Shaping the U.S. Department of War’s maneuver analysis experience.<span class='text-secondary'> Reimagined the workflow giving pilots a clear path to improving mission readiness.</span></Title>
	<section>
		<img
			src='/content/case-studies/dod/ddr.png'
			class='view-project-image content'
			style='
				margin-top: 2rem;
				margin-bottom: 2rem;
			'
		/>
	</section>
	<section>
		<div class='content-item-row'>
			<hr class='hr-subtle'>
			<div class='content-item'>
				<div class='content-wrapper'>
					<h3>Augmenting flight debriefs</h3>
					<div class='content-text'>
						<p>
							This project supported the U.S. Air Force operating under the Department of Defense, 
							where pilot performance and mission readiness have long been evaluated through 
							instructor-led post-flight reviews.
						</p>
						<p>
							The Air Force has a proud multigenerational tradition of aviation excellence, yet many
							of its training systems were built for a previous era relying on traditional debrief 
							methods, aging hardware, and legacy software not originally designed for artificial 
							intelligence or long-term performance tracking.
						</p>
						<p>
							So despite the U.S. Air Force’s ability to projecting strength, the methods used to assess 
							pilot performance wasn’t evolving at the same pace as what modern technologies could provide.
						</p>
						<p>
							Every flight generates millions of data points capturing maneuvers, reactions, and situational 
							decisions in real time. However, this data gets erased after the end of the debrief leaving any 
							remaining insights scattered in personal notes. This made it difficult for instructors and pilots 
							to understand pilot performance, tracking progress over time, or use the insights to improve safety 
							and skills.
						</p>
						<p>
							With pilots balancing intense schedules and meeting high standards, squadrons needed a way to turn 
							complex data into an enhanced learning experience that supports teamwork, integrates within their 
							current workflow, and helps pilots continuously improve their performance.
						</p>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</section>
	<section>
		<Quote
			quote={`While we spend hours analyzing and debriefing each training mission to 
					maximize learning, our instructors are very time-limited and can only 
					record some of the subjective data to summarize a student's performance.`}
			author='Major Mark Poppler'
			title='Chief of Innovation, 4th Training Squadron'
		/>
	</section>
	<section>
		<div class='content-item-row'>
			<hr class='hr-subtle'>
			<div class='content-item'>
				<div class='content-wrapper'>
					<h3>Bridging the gap between people and technology</h3>
					<div class='content-text'>
						<p>
							While Data Driven Readiness unlocked insights into flight data, the platform was 
							difficult to navigate and the insights produced were untrustworthy. Pilots struggled 
							to understand how they were performing, while instructors lacked the ability to provide 
							feedback, limiting collaboration between team members.
						</p>
						<p>
							Pilots weren’t fully aware of when or where AI was being used to analyze maneuvers, 
							leaving them uncertain on the validity of insights generated and questioning how much 
							they can trust AI-generated feedback.
						</p>
						<p>
							This lack of transparency limited product adoption and reduced the confidence in recommendations 
							made by Data Driven Readiness, even though pilots acknowledged the potential AI has to surface 
							opportunities for improvement.
						</p>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</section>
	<section>
		<div class='content-item-row'>
			<hr class='hr-subtle'>
			<div class='content-item'>
				<div class='content-wrapper'>
					<h3>Building trust with AI</h3>
					<div class='content-text'>
						<p>
							From this point we shifted the product priorities around trust and usability. A critical part of 
							the work was adding visibility to AI within the user interface design for building trust and 
							confidence. We redesigned the experience so that moments affected by AI have a clear indicator 
							with explainability making it easier for pilots to cross-check using their own judgment.
						</p>
						<ul>
							<li>
								<b>Indicators for AI-generated content:</b> Transparency with AI is key and the AI label is an 
								accessible, interactive element that's present at every interface level.
							</li>
							<li>
								<b>Having a consistent visual reference:</b> -Users need a universal and easy identifiable 
								visual reference when they want to understand more about how AI is being used.
							</li>
							<li>
								<b>Guiding users with explainability:</b> Users need a way to understand how to access 
								details about how an AI was built. By providing a way to explainability with the AI label, 
								users have a recognizable location to learn more.
							</li>
						</ul>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</section>
	<section>
		<Quote
			quote={`One thing that AI is really good at is taking a repetitive process and performing 
					it at fractions of the time that it would take a human.`}
			author='First Lieutenant Darren Lopez-Leon'
			title='Operations Research Analyst, Nellis Air Force Base'
		/>
	</section>
	<section>
		<div class='content-item-row'>
			<hr class='hr-subtle'>
			<div class='content-item'>
				<div class='content-wrapper'>
					<h3>Supercharging how pilots learn</h3>
					<div class='content-text'>
						<p>
							I led short, focused research sessions with pilots and instructors to understand how they review 
							flights, what slows down learning, and where confidence breaks.
						</p>
						<p>
							Two distinct user types emerged: instructors who think in patterns and coaching, and trainees 
							who want direct and unfiltered understanding of their own performance. Aligning both of these 
							perspectives became central to the direction of the redesign.
						</p>
						<p>
							We approached this redesign with one goal: make pilot performance insights feel clear, fair, 
							and easy to act on without adding more work for people already operating at full speed.
						</p>
						<p>
							We simplified performance scores into a simple pass or fail format that removed interpretation. 
							Flight data became visualized directly on the timeline giving pilots access to evaluate data 
							points for parameters over time.
						</p>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</section>
	<section>
		<img
			src='/content/case-studies/dod/maneuvers.png'
			class='view-project-image content'
		/>
	</section>
	<section>
		<div class='content-item-row'>
			<hr class='hr-subtle'>
			<div class='content-item'>
				<div class='content-wrapper'>
					<h3>Empowering instructors in the classroom</h3>
					<div class='content-text'>
						<p>
							Instead of feedback being scattered across personal notebooks we created a shared space for 
							notes where pilots and instructors could tag teammates, add context, and continue discussions 
							beyond the debrief, turning every flight into team learning experiences and not for self-reflection.
						</p>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</section>
	<section>
		<img
			src='/content/case-studies/dod/pilotprofile.png'
			class='view-project-image content'
		/>
	</section>
	<Content>
		<div class='text-width'>
			<h3>Impact</h3>
			<p>
				We transformed DDR from being difficult to use into a collaborative tool that pilots trust to evaluate and improve their 
				performance, while still fitting into their demanding workflows. The improvements that made the biggest impact for pilots were:
			</p>
			<ul>
				<li>
					Quickly identify performance gaps through transparent grading
				</li>
				<li>
					Navigate flight simulations more efficiently with intuitive controls
				</li>
				<li>
					Collaborate with instructors with interactive notes
				</li>
				<li>
					Cross-evaluations with human analysis from the enhanced visualizations
				</li>
			</ul>
		</div>
		<Quote
			quote={`Hiring Chris brought us instant relaxation. Before working with Chris I didn’t realize how much it would
					take to do the research sitting down with pilots to better solve their problems.`}
			author='Julian Capps'
			title='Head of Defense, Crowdbotics'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h3>Final thoughts</h3>
			<p>This project was as much about adapting design methods to constraints as it was about building a better tool:</p>
			<ul>
				<li>
					<b>Adapt to user constraints</b> -> Pilots limited availability required leaner, flexible research methods
				</li>
				<li>
					<b>Embrace the learning curve</b> -> The aviation industry is highly technical. Building domain knowledge gave me 
					confidence to drive design decisions
				</li>
				<li>
					<b>Organize research better</b> -> A dedicated repository would have made user research insights easier to share with stakeholders
				</li>
				<li>
					<b>Bridge design and development</b> -> By learning GitHub workflows and contributing to CSS tokens, I accelerated implementation and improved 
					team collaboration
				</li>
			</ul>
		</div>
	</Content>
	<NextCaseStudy
		href='/case-studies/atmos'
		label='Pioneering the Web3 portal experience for Exo pilots on Planet Atmos. '
		description='Redesigned the portal to simplify the onboarding process and to easier access blockchain items.'
		thumbnail={{
			src: 'https://media.contra.com/video/upload/fl_progressive/q_auto:best,w_800/twkqyeauwgccv77hxdwj.mp4',
		}}
	/>
</Base>
