---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import LinkGroup from '../../components/LinkGroup.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
import Quote from '../../components/Quote.astro'
import fs from 'fs'
import path from 'path'

// Read the SVG icon
const iconPath = path.join(process.cwd(), 'public/images/link.svg')
const linkIcon = fs.readFileSync(iconPath, 'utf-8')
---

<Base>
	<Title>Shaping the future of pilot training with AI-driven maneuver analysis</Title>
	<ContentSummary
		year='6 months'
		industry='Government'
		roles={['User research', 'UI design','Interaction design', 'Usability testing']}
	>
	</ContentSummary>
	<Content>
		<img
			src='/content/case-studies/dod/ddr.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>The challenge</h2>
			<p>
				The U.S. Department of Defense faced a critical issue: how to accurately assess mission readiness of pilots.
			</p>
			<ul>
				<li>
					<b>Current approach:</b> Post-flight debriefs that heavily rely on instructor feedback
				</li>
				<li>
					<b>Missed opportunity:</b> Each aircraft generates millions of data points during flight, but this data wasn’t 
					being fully leveraged to evaluate and track performance.
				</li>
			</ul>
			<p>
				To address this the 333rd Fighter Squadron at Seymour Johnson Air Force Base partnered with Crowdbotics. 
				I joined a cross-functional team of developers, data scientists, and project managers to redesign the Data 
				Driven Readiness (DDR) software. Our mission was to enhance how pilots analyze maneuvers and seamlessly integrate 
				flight data into their daily workflow.
			</p>
		</div>
		<Quote
			quote={`Typically at the end of the debrief the student keeps some notes, but we erase our tapes. We erase our shot sheets and all the data gets flushed.`}
			author="Major Mark Poppler"
			title="Chief of Innovation, 4th Training Squadron"
			link="https://www.popsci.com/technology/air-force-artificial-intelligence-pilot-training/"
			linkLabel="Learn more about how Seymour Johnson AFB uses Data Driven Readiness"
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Research kick-off</h2>
			<p>
				To understand the problem we conducted usability tests of the current DDR software with five pilots. Pain points we uncovered:
			</p>
			<ul>
				<li>
					<b>Unclear grades</b> -> Ambiguous scoring made it hard for pilots to know how well they performed
				</li>
				<li>
					<b>Awkward controls</b> -> Limited descriptions made it difficult to view maneuvers from the right angles
				</li>
				<li>
					<b>Inaccurate timestamps</b> -> Maneuvers on the timeline didn’t match actual flight events, requiring tedious scrubbing
				</li>
				<li>
					<b>Isolated notes</b> -> Missing collaboration features made notes only useful as personal reminders
				</li>
			</ul>
		</div>
		<img
			src='/content/case-studies/dod/original-ddr.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Key insights</h2>
			<p>
				Pilots valued DDR’s potential but needed usability improvements before they could fully rely on it. 
				Our research revealed four design priorities:
			</p>
			<ol>
				<li>
					<b>Transparent grading system:</b> Define a clear criteria with detailed explanations and visual indicators
				</li>
				<li>
					<b>Intuitive camera controls:</b> Simplify the interactions and guide users
				</li>
				<li>
					<b>Accurate timestamps:</b> Automatic alignment with actual maneuvers
				</li>
				<li>
					<b>Collaborative notes:</b> Ability to tag team members, add context, and foster discussion
				</li>
			</ol>
		</div>
		<Quote
			quote={`It allows them to get an objective view of what is happening and how they flew and be able to make incremental, sometimes significant changes to how they're flying to be safer, more effective or more lethal.`}
			author="Adam Ha"
			title="Lead F-15E Flight Test Engineer"
			link={{
			href: "https://www.ktnv.com/news/exclusive-nellis-air-force-base-testing-artificial-intelligence-in-combat-training",
			text: "Explore how Nellis Air Force Base is testing Data Driven Readiness",
			icon: linkIcon,
			target: "_blank"
			}}
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Mapping mouse and keyboard controls</h2>
			<p>
				The DDR viewport simulates the aircraft and maneuvers in the browser. Through our user testing it was revealed that:
			</p>
			<ul>
				<li>
					Default mouse controls were restrictive and disorienting
				</li>
				<li>
					No keyboard shortcuts were available
				</li>
			</ul>
			<p>
				I reassigned the mapping of keyboard and mouse controls to:
			</p>
			<ul>
				<li>
					Simplify the controls for better accessibility
				</li>
				<li>
					Added keyboard shortcuts to quickly navigate the timeline
				</li>
			</ul>
		</div>
		<video
			src='/content/case-studies/dod/viewport-animation.mp4'
			src='/content/case-studies/dod/viewport-animation.webm'
			class='view-project-video content'
			autoplay
			loop
			muted
			playsinline
			width='1600px'
			height='1200px'>
		</video>
		<img
			src='/content/case-studies/dod/keyboard-controls.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Reducing cognitive load</h2>
			<p>
				Promoting consistency reduced cognitive load and improved predictability across the platform. 
				We reorganized DDR’s core layout into clear, repeatable sections:
			</p>
			<ol>
				<li>
					<b>Header</b>: Global navigation and system actions
				</li>
				<li>
					<b>Side panel</b>: Supporting details
				</li>
				<li>
					<b>Viewport</b>: Maneuver visualization
				</li>
				<li>
					<b>Timeline</b>: Performance metrics
				</li>
			</ol>
		</div>
		<img
			src='/content/case-studies/dod/ui-template.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Clarity to maneuver grades</h2>
			<p>
				Instead of vague sliding scales, we introduced parameter-level pass/fail grades. 
				This helped pilots pinpoint areas for improvement without ambiguity.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/maneuvers.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Collaborative notes</h2>
			<p>Pilots can now tag teammates, trigger email notifications with mentions, and timestamp notes to reference exact moments 
			in the timeline. These features increase the collaboration between pilots and instructors.</p>
		</div>
		<img
			src='/content/case-studies/dod/notes.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Real-time performance visualization</h2>
			<p>We layered user-generated and AI-driven notes directly onto the timeline reel. Pilots could now:</p>
			<ul>
				<li>
					View note indicators directly on the timeline
				</li>
				<li>
					Access to layered real-time aircraft performance data
				</li>
				<li>
					Cross-check AI evaluations using human judgment
				</li>
			</ul>
		</div>
		<img
			src='/content/case-studies/dod/timeline.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Impact</h2>
			<p>
				We transformed DDR from being difficult to use into a collaborative tool that pilots trust to evaluate and improve their 
				performance, while still fitting into their demanding workflows. The improvements that made the biggest impact for pilots were:
			</p>
			<ul>
				<li>
					Quickly identify performance gaps through transparent grading
				</li>
				<li>
					Navigate flight simulations more efficiently with intuitive controls
				</li>
				<li>
					Collaborate with instructors with interactive notes
				</li>
				<li>
					Cross-evaluations with human analysis from the enhanced visualizations
				</li>
			</ul>
		</div>
		<Quote
			quote={`Hiring Chris brought us instant relaxation. Before working with Chris I didn’t realize how much it would take to do the research sitting down with pilots to better solve their problems.`}
			author="Julian Capps"
			title="Head of Defense, Crowdbotics"
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Final thoughts</h2>
			<p>This project was as much about adapting design methods to constraints as it was about building a better tool:</p>
			<ul>
				<li>
					<b>Adapt to user constraints</b> -> Pilots limited availability required leaner, flexible research methods
				</li>
				<li>
					<b>Embrace the learning curve</b> -> The aviation industry is highly technical. Building domain knowledge gave me 
					confidence to drive design decisions
				</li>
				<li>
					<b>Organize research better</b> -> A dedicated repository would have made user research insights easier to share with stakeholders
				</li>
				<li>
					<b>Bridge design and development</b> -> By learning GitHub workflows and contributing to CSS tokens, I accelerated implementation and improved 
					team collaboration
				</li>
			</ul>
		</div>
	</Content>
	<LinkGroup
		title='Press coverage'
		links={[
			{
				href: 'https://shield.ai/shield-ai-acquires-crowdbotics-data-driven-readiness-software-tools/',
				label: 'Shield AI acquires Crowdbotics’ Data Driven Readiness software tools'
			},
			{
				href: 'https://www.popsci.com/technology/air-force-artificial-intelligence-pilot-training/',
				label: 'How AI could help new Air Force pilots avoid costly mistakes'
			},
			{
				href: 'https://www.aiaccelerator.af.mil/News/News-Article-View/Article/3270293/first-commercial-company-leverages-daf-mit-maneuver-id-challenge-to-advance-ai',
				label: 'First Commercial Company Leverages DAF-MIT Maneuver ID Challenge to Advance AI'
			},
			{
				href: 'https://www.ktnv.com/news/exclusive-nellis-air-force-base-testing-artificial-intelligence-in-combat-training',
				label: 'Exclusive: Nellis Air Force Base tests new artificial intelligence program for combat training'
			},
			{
				href: 'https://caplinnews.fiu.edu/air-force-ai-flight-data-crodbotics/',
				label: 'Air Force introduces AI to training program'
			},
			{
				href: 'https://adlnet.gov/news/2022/04/11/F15-xAPI-Training/',
				label: 'Air Force Project Enhances Live F-15E Flight Training with xAPI'
			},
		]}
	/>
	<NextCaseStudy
		href='/case-studies/atmos'
		subtitle='Gaming'
		label='Pioneering the Web3 portal experience for Exo pilots on Planet Atmos'
		description='The portal was redesigned to simplify onboarding, helping Exo pilots easily access and manage their blockchain items'
		thumbnail={{
			src: '/content/case-studies/atmos/home.png',
		}}
	/>
</Base>
