---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import FeatureImageGroup from '../../components/FeatureImageGroup.astro'
import FeatureVideo from '../../components/FeatureVideo.astro'
import LinkGroup from '../../components/LinkGroup.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
---

<Base>
	<Title>Reimagining how U.S. Air Force pilots analyze aircraft maneuvers</Title>
	<ContentSummary
		year='Jan–May 2022'
		industry={['AI', 'Aviation','Government']}
		roles={['User research', 'UI design','Interaction design', 'Usability testing']}
	>
	</ContentSummary>
	<Content>
		<div>
			<img
				src='/content/case-studies/dod/ddr.png'
				class='view-project-image content'
			/>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Challenge</h2>
			<p>
				The U.S. Department of Defense knew it had a problem determining the 
				proficiency level of pilots. While debriefs are held to evaluate the 
				pilot’s most recent flight, there are also millions of data points recorded 
				onboard their aircraft being wasted that could be used to measure and track 
				pilot performance.
			</p>
			<p>
				The 333rd Fighter Squadron at Seymour Johnson Air Force Base began looking at 
				technologies and apps that address these problems, when Julian Capps from Crowdbotics 
				recommended a larger research and design effort to understand usability problems with 
				the Data Driven Readiness (DDR) software design. Along with Julian and myself, the core 
				team during this phase included the development team, data scientists, and project management.
			</p>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Kick-off</p>
			<h2>Identifying pain points in the maneuver analysis experience</h2>
			<p>
				At the start of the project, we didn’t have clear goals for improving the maneuver analysis experience. 
				To gain insights, I teamed up with our data scientists and key stakeholders to learn how pilots were 
				using the software.
			</p>
			<p>
				We tested the current DDR application with five participants at Seymour Johnson Air Force Base to understand 
				their experiences. Our goal was to identify the challenges they faced, such as:
			</p>
			<ul>
				<li>
					<b>Grades are unclear:</b> Without descriptions, pilots had to guess and experiment to figure out 
					how the camera views worked.
				</li>
				<li>
					<b>Camera controls are awkward:</b> When a maneuver starts and ends on the timeline isn’t when maneuvers 
					were actually performed. An additional amount of scrubbing was required to find the exact start time of a 
					maneuver. This was wasting a significant amount of time for what should have been a simple task.
				</li>
				<li>
					<b>Timestamps are off:</b> Pilots had to spend extra time searching the timeline to find when maneuvers 
					actually started.
				</li>
				<li>
					<b>Notes feel isolated:</b> The notes feature was only good for personal use, offering no way to 
					collaborate or have discussions.
				</li>
			</ul>
		</div>
		<div class='text-width'>
			<blockquote>
				"It allows them to get an objective view of what is happening and how they flew and be able to make incremental, 
				sometimes significant changes to how they're flying to be safer, more effective or more lethal."
			</blockquote>
			<div>
				<p style="margin-bottom: 0rem;"><b>Adam Ha</b></p>
				<p style="margin-bottom: 3rem;">Lead F-15E Flight Test Engineer</p>
			</div>
		</div>
		<img
			src='/content/case-studies/dod/original-ddr.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>The discovery</p>
			<h2>Streamlining DDR integration into pilots workflow</h2>
			<p>
				While some usability issues were uncovered, pilots appreciated DDR’s ability to provide immediate feedback 
				from flight data and personalized input from instructors. They want to keep using DDR in their workflow but 
				prefer a design that doesn’t require much effort to relearn. As the platform grows, so have their expectations.
			</p>
			<p>
				These insights were crucial. If even our early adopters—highly skilled and educated pilots—faced usability 
				challenges, users in other contexts would likely struggle even more.
			</p>
			<p>
				From our research, a few key patterns emerged:
			</p>
			<ul>
				<li>
					<b>Clear and transparent grading system:</b> Develop a grading system with clear criteria, detailed explanations, 
					and visual indicators to help pilots better understand their performance.
				</li>
				<li>
					<b>Easy-to-use camera controls:</b> Design user-friendly camera controls with intuitive descriptions, tooltips, 
					and an interactive tutorial to make navigation easier
				</li>
				<li>
					<b>Accurate and automated timestamps:</b> Introduce automatic, precise timestamping that aligns with the start of each 
					maneuver, making it quicker to locate events on the timeline.
				</li>
				<li>
					<b>Collaborative and interactive notes:</b> Expand the notes feature to include collaborative tools like tagging 
					team members to foster teamwork and discussions.
				</li>
			</ul>
			<div>
				<blockquote>
					"While we spend hours analyzing and debriefing each training mission to maximize learning, our instructors are 
					very time-limited and can only record some of the subjective data to summarize a student's performance on 
					syllabus sorties."
				</blockquote>
				<div>
					<p style="margin-bottom: 0rem;"><b>Major Mark Poppler</b></p>
					<p>Chief of Innovation for the 4th Training Squadron</p>
				</div>
			</div>
			<img
				src='/content/case-studies/dod/journey-map.png'
				class='view-project-image content'
			/>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Human-computer interaction</p>
			<h2>Mapping out the mouse and keyboard controls</h2>
			<p>
				Since the viewport simulates the aircraft and maneuvers in the browser we included this as 
				part of our testing with participants. We learned that the default mouse controls were 
				difficult to orient the camera view with and that no actions were bound to the keyboard.
			</p>
			<p>
				Based on the feedback received we simplified the mouse controls to be easier to approach. 
				We also introduced keyboard controls to timeline actions for quick access by power users.
			</p>
		</div>
		<video
			src='/content/case-studies/dod/viewport-animation.mp4'
			src='/content/case-studies/dod/viewport-animation.webm'
			class='view-project-video content'
			autoplay
			loop
			muted
			playsinline
			width='1600px'
			height='1200px'>
		</video>
		<img
			src='/content/case-studies/dod/keyboard-controls.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Content guidelines</p>
			<h2>Refining the information architecture</h2>
			<p>
				Defining areas of the page into sections allowed our team to communicate and limit design decisions 
				while customers can safely expect to see these patterns reused in different ways throughout the 
				product experience.
			</p>
			<p>
				This helps reduce cognitive load by displaying information that's visible, predictable, and 
				consistently applied. We further enhanced the page template by including a header section 
				to support global navigation links and system-level actions that are accessible from all 
				pages across the product.
			</p>
		</div>
		<div>
			<img
				src='/content/case-studies/dod/ui-template.png'
				class='view-project-image content'
			/>
			<p class='p2'>1. Header 2. Side panel 3. Viewport 4. Timeline</p>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Bringing clarity to aircraft maneuver grades</h2>
			<p>
				Instead of assigning grades on a sliding scale to each maneuver, a simple pass or 
				fail grade is assigned to each parameter to aid pilots in narrowing down areas of 
				improvement. We focused on making content easier to read so that information can be 
				processed more efficiently.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/maneuvers.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Stay connected to your team members</h2>
			<p>
				We made it easier to keep everyone in the loop by tagging team members and sending notifications 
				when mentioned. The addition of note timestamps was also introduced so that pilots are able to mark 
				the exact point on the timeline being referred to. While these changes make notes more interactive 
				it also encourages social engagement between pilots and instructors.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/notes.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Visualizing real time aircraft performance</h2>
			<p>
				Maneuver and note indicators are now both shown on the timeline reel to give an overview of where events 
				have happened at. Real time information of the aircraft's performance is also visualized on the timeline 
				to raise the level of information awareness, which opens the opportunity for humans to manually inspect 
				maneuvers graded by artificial intelligence.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/timeline.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Final thoughts</h2>
			<ul>
				<li>
					<b>Adapt research methods to user constraints</b> Talking to pilots provided valuable insights, and their limited 
					availability highlighted the need for a more flexible research approach. Adapting methodologies to fit our 
					users constraints could have made our process more effective.
				</li>
				<li>
					<b>Embrace the learning curve:</b> The project's complexity was a challenge, and gaining industry-specific 
					knowledge was key to building up my confidence. Knowing how to navigate through uncertainty became an essential 
					part of solving design problems and taking the lead.
				</li>
				<li>
					<b>Organize a research repository:</b> While Figma worked well for design assets, research and documentation grew harder to 
					access over time. A better system for organizing research would have made sharing insights with stakeholders easier.
				</li>
				<li>
					<b>Be a GitHub contributor:</b> Working closely with the development team made me a better designer by learning how CSS frameworks leverage design tokens. Implementing 
					tokens in our design system allowed me to then make small updates to front-end code, speeding up the development and enhancing 
					team collaboration.
				</li>
			</ul>
			<p>
				Pilots reported feeling more confident in their decisions and less frustrated by the application, 
				adding comments such as “The new design is much more intuitive and easier to use” and “This is a 
				serious upgrade compared to what was available before”.
			</p>
		</div>
		<div class='text-width'>
			<blockquote>
				“Hiring Chris brought us instant relaxation. Having someone dedicated to solving usability and design problems 
				freed up other team members to do their jobs. Before working with Chris I didn’t realize how much it would take to 
				do the research sitting down with pilots to better solve their problems.”
			</blockquote>
			<img src="/content/clients/julian-capps.png" width="96" height="96" style="margin-bottom: 2rem;">
			<div>
				<p style="margin-bottom: 0;"><b>Julian Capps</b></p>
				<p>Head of Defense, Crowdbotics</p>
			</div>
		</div>
	</Content>
	<LinkGroup
		title='Press coverage'
		links={[
			{
				href: 'https://www.aiaccelerator.af.mil/News/News-Article-View/Article/3270293/first-commercial-company-leverages-daf-mit-maneuver-id-challenge-to-advance-ai',
				label: 'First Commercial Company Leverages DAF-MIT Maneuver ID Challenge to Advance AI'
			},
			{
				href: 'https://www.popsci.com/technology/air-force-artificial-intelligence-pilot-training/',
				label: 'How AI could help new Air Force pilots avoid costly mistakes'
			},
			{
				href: 'https://adlnet.gov/news/2022/04/11/F15-xAPI-Training/',
				label: 'Air Force Project Enhances Live F-15E Flight Training with xAPI'
			},
			{
				href: 'https://www.ktnv.com/news/exclusive-nellis-air-force-base-testing-artificial-intelligence-in-combat-training',
				label: 'Exclusive: Nellis Air Force Base tests new artificial intelligence program for combat training'
			},
			{
				href: 'https://caplinnews.fiu.edu/air-force-ai-flight-data-crodbotics/',
				label: 'Air Force introduces AI to training program'
			}
		]}
	/>
	<NextCaseStudy
		href='/projects/atmos'
		label='Pioneering web3 user experiences for Exo pilots inhabiting planet Atmos'
		thumbnail={{
			src: '/content/projects/atmos/thumbnail.png',
			size: [528, 396]
		}}
	/>
</Base>
