---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import FeatureImageGroup from '../../components/FeatureImageGroup.astro'
import FeatureVideo from '../../components/FeatureVideo.astro'
import LinkGroup from '../../components/LinkGroup.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
---

<Base>
	<Title>Reimagining how U.S. Air Force pilots analyze aircraft maneuvers</Title>
	<ContentSummary
		year='Jan 2022 - May 2022'
		company='U.S. Department of Defense'
		website='www.defense.gov'
		roles={['User research', 'Interaction design','Usability testing', 'UI design']}
	>
	</ContentSummary>
	<Content>
		<div class='container'>
			<div>
				<img
					src='/content/case-studies/dod/ddr.png'
					class='view-project-image content'
				/>
			</div>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>My role</h2>
			<p>
				My role focused on user research and interface design for Data Driven
				Readiness between January 2022 and May 2022 while gathering feedback 
				from pilots and stakeholders. The team also consisted of three developers, 
				two data scientists, and a project manager.
			</p>
			<p>
				The team disbanded during the development phase after we won the <a class='underscore' href="https://maneuver-id.mit.edu/">AI Accelerator’s 
				Maneuver ID Challenge.</a>
			</p>
			<p>
				Since then DDR has expanded testing across multiple US Air Force bases.
			</p>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<span>
				<p class='p2 mono'>Problem</p>
				<h2>Post-flight debriefs doesn't accurately measure pilot performance</h2>
			</span>
			<p>
				After every flight pilots have a debriefing to assess their recent performance. Pilot 
				instructors review using whiteboards and video recordings as a teaching aid, while 
				pilots take notes and rely on memory to recall moments from their last flight. The 
				lack of capability <b>to measure the difference between perspective and reality of how 
				maneuvers are performed</b> limits the Air Force’s ability to effectively determine proficiency 
				level of pilots.
			</p>
			<p>
				The existing design was difficult for customers to complete tasks, resulting in low user 
				engagement and a general dissatisfaction. The usability of Data Driven Readiness (DDR) struggled 
				to keep up with the project's functional ambition, disregarding fundamental design principles.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/original-ddr.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Goals</p>
			<h2>Reimagining the maneuver analysis experience</h2>
			<p>
				Our main goal for the project was to reimagine the aircraft maneuver analysis experience by returning 
				to the design basics. Our best guess was: by reducing complexity we can improve clarity. The mission was 
				to create a strong foundation built with purpose to support the platform's evolution and its diverse set 
				of users.
			</p>
			<p>
				At a high level our goals were:
			</p>
			<ul>
				<li>
					<b>Reduce cognitive overload:</b> Simplify the process of learning a new tool for people of all technical 
					skill levels
				</li>
				<li>
					<b>Familiarity:</b> Define the vision for a consumer-friendly enterprise web app that contrasts legacy 
					systems the government often uses
				</li>
				<li>
					<b>Independence:</b> Raise the confidence level of pilots when reviewing past flights by increasing their 
					ability to work autonomously
				</li>
			</ul>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Kick-off</p>
			<h2>Understanding the landscape</h2>
			<p>
				At the start of the project we didn’t have a clear set of specific goals for the maneuver analysis experience. 
				Without any prior insights, I partnered with our data scientist and a key stakeholder to understand how pilots 
				were using the software.
			</p>
			<p>
				We also tested the existing DDR app with 5 participants at Seymour Johnson Air Force Base. Our goals were to better 
				understand the challenges pilots and instructors faced such as:
			</p>
			<ul>
				<li>
					<b>Grades don’t tell a complete story:</b> The values for how a maneuver was flown are only shown as averages. This 
					left pilots filling in the blanks yet again as to their true performance.
				</li>
				<li>
					<b>Finding the true timestamp is tedious:</b> When a maneuver starts and ends on the timeline isn’t when maneuvers 
					were actually performed. An additional amount of scrubbing was required to find the exact start time of a 
					maneuver. This was wasting a significant amount of time for what should have been a simple task.
				</li>
				<li>
					<b>Clumsy camera controls:</b> Achieving the desired camera settings happens by making selections at random. The 
					lack of clear descriptions led them to use the visual feedback of toggling selections on and off to 
					understand what it does.
				</li>
				<li>
					<b>Lack of motivation:</b> Pilots expressed a lack of motivation to explore since they also have to stay current 
					with a number of avionics onboard their aircraft.
				</li>
			</ul>
		</div>
		<div class='text-width'>
			<blockquote>
				"It allows them to get an objective view of what is happening and how they flew and be able to make incremental, 
				sometimes significant changes to how they're flying to be safer, more effective or more lethal."
			</blockquote>
			<div>
				<p><b>Adam Ha</b></p>
				<p>Lead F-15E Flight Test Engineer</p>
			</div>
		</div>
		<img
			src='/content/case-studies/dod/journey-map.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>The discovery</p>
			<h2>Pilots want to integrate DDR in their workflow with a minimal amount effort</h2>
			<p>
				Our findings led us to believe that pilots have a desire to integrate DDR into their already existing 
				workflow, but want to do so with a minimal amount of effort. The biggest motivator was to save time 
				by completing tasks quicker, leading to an increase in the rate of learning. As the capabilities of 
				the platform continue to expand, the expectations pilots have is evolving as well.
			</p>
			<p>
				This insight was crucial, as it indicated that if early adopters—who are technically proficient and 
				well-educated pilots—were experiencing usability issues, how likely would newer customers in different 
				contexts struggle even more?
			</p>
			<p>
				There were a few patterns that emerged from our data:
			</p>
			<ul>
				<li>
					<b>Inspect real time performance of maneuvers:</b> No supplemental information to drill down further means 
					pilots and instructors have no way to diagnose issues with a maneuver. Revealing real time information 
					behind the flight data would give context to understand their aircraft performance.
				</li>
				<li>
					<b>Show data points with precision:</b> By chronologically visualizing data we can give pilots the ability to 
					navigate with more precision and accuracy. This opens up the opportunity for patterns and anomalies to 
					be manually detected which wasn’t possible before.
				</li>
				<li>
					<b>Maintain situational awareness:</b> Bring clarity to when and where maneuvers and comments are located at 
					in time. The group of actions give pilots the ability to make fine-tuned adjustments to further 
					analyze their flight.
				</li>
				<li>
					<b>Lack of motivation:</b> Pilots expressed a lack of motivation to explore since they also have to stay current 
					with a number of avionics onboard their aircraft.
				</li>
			</ul>
			<div>
				<blockquote>
					"While we spend hours analyzing and debriefing each training mission to maximize learning, our instructors are 
					very time-limited and can only record some of the subjective data to summarize a student's performance on 
					syllabus sorties."
				</blockquote>
				<div>
					<p><b>Major Mark Poppler</b></p>
					<p>Chief of Innovation for the 4th Training Squadron</p>
				</div>
			</div>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Page navigation</p>
			<h2>Refining the information architecture</h2>
			<p>
				By defining a page template pilots can expect to find certain types of content throughout using the 
				product. This reduces the cognitive load on users by displaying web content in a consistent, visible, 
				and easy to use way as the platform continues to scale. This was further enhanced with the addition of 
				a header section to include global navigation links and system-level actions that are persistent on 
				pages across the product.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/ui-template.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<p class='p2 mono'>Human-computer interaction</p>
			<h2>Mapping out the mouse and keyboard controls</h2>
			<p>
				Following the team's decision to implement Cesium Ion to simulate flights in the browser, we 
				tested the usability of the default camera controls. Pilots said the viewport camera mouse controls 
				were redundant, clunky, and lacked variety. There was no keyboard functionality. Based on their 
				feedback we added keyboard bindings for power users to quickly use timeline actions. Orienting 
				the viewport camera with a mouse was further refined for ease of use.
			</p>
		</div>
		<video
			src='/content/case-studies/dod/viewport-animation.mp4'
			src='/content/case-studies/dod/viewport-animation.webm'
			class='view-project-video content'
			autoplay
			loop
			muted
			playsinline
			width='1600px'
			height='1200px'>
		</video>
		<img
			src='/content/case-studies/dod/keyboard-controls.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Bringing clarity to aircraft maneuver grades</h2>
			<p>
				Instead of assigning mixed grades for each maneuver performed, grades were passed down 
				to each parameter inside of a maneuver. This gives pilots a more complete view of the 
				flight characteristics from when each maneuver was performed. The intent to prioritize 
				the findability of page content gives pilots a streamlined way to process information.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/left-sidebar.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Visualizing aircraft performance in real time</h2>
			<p>
				Timeline reel now displays numerical timestamps and vertical dividers in a layered yet 
				compact format. Comments and maneuver markers are embedded within the timeline reel that 
				spatially orients events at specific moments of time. This change alone brings a fresh perspective 
				for pilots to see when and what activity has occurred in the file at a high-level.
			</p>
			<p>
				Realtime information of the aircraft's performance is now displayed to pilots in a visually 
				engaging format. While the addition of parameters gives pilots an extra level of information 
				awareness, it also opens the opportunity for human intervention to manually inspect the 
				performance of maneuvers graded by artificial intelligence.
			</p>
		</div>
		<img
			src='/content/case-studies/dod/timeline.png'
			class='view-project-image content'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>Results</h2>
			<p>
				The redesign of DDR saw significant improvements across the customer journey by reducing points of friction, 
				resulting in an increase in engagement and user satisfaction. The final design solution successfully met our 
				user and business goals by establishing a seamless experience that encourages autonomy and self-improvement 
				as a pilot.
			</p>
			<p>
				Some of the noticeable improvements our team observed are:
			</p>
			<ul>
				<li>
					<b>Increased average session duration:</b> Feature engagement improved by 40% as users spent more time 
					interacting with the product
				</li>
				<li>
					<b>Improved workflow speed:</b> The task completion rate for primary tasks (upload file, add note) 
					improved by 15%
				</li>
				<li>
					<b>Happier customers:</b> Post-launch interviews revealed an increase in user satisfaction with using 
					the web application
				</li>
			</ul>
			<p>
				Pilots reported feeling more confident in their decisions and less frustrated by the application, 
				adding comments such as “The new design is much more intuitive and easier to use” and “This is a 
				serious upgrade compared to what was available before”.
			</p>
		</div>
		<div class='text-width'>
			<blockquote>
				"“Hiring Chris brought us instant relaxation. Having someone dedicated to solving usability and design problems 
				freed up other team members to do their jobs. Before working with Chris I didn’t realize how much it would take to 
				do the research sitting down with pilots to better solve their problems.”
			</blockquote>
			<div>
				<p><b>Julian Capps</b></p>
				<p>Head of Defense, Crowdbotics</p>
			</div>
		</div>
	</Content>
	<LinkGroup
		title='Press coverage'
		links={[
			{
				href: 'https://www.aiaccelerator.af.mil/News/News-Article-View/Article/3270293/first-commercial-company-leverages-daf-mit-maneuver-id-challenge-to-advance-ai',
				label: 'First Commercial Company Leverages DAF-MIT Maneuver ID Challenge to Advance AI'
			},
			{
				href: 'https://www.popsci.com/technology/air-force-artificial-intelligence-pilot-training/',
				label: 'How AI could help new Air Force pilots avoid costly mistakes'
			},
			{
				href: 'https://adlnet.gov/news/2022/04/11/F15-xAPI-Training/',
				label: 'Air Force Project Enhances Live F-15E Flight Training with xAPI'
			},
			{
				href: 'https://www.ktnv.com/news/exclusive-nellis-air-force-base-testing-artificial-intelligence-in-combat-training',
				label: 'Exclusive: Nellis Air Force Base tests new artificial intelligence program for combat training'
			},
			{
				href: 'https://caplinnews.fiu.edu/air-force-ai-flight-data-crodbotics/',
				label: 'Air Force introduces AI to training program'
			}
		]}
	/>
	<NextCaseStudy
		href='/projects/atmos'
		label='Pioneering web3 user experiences for Exo pilots inhabiting planet Atmos'
		thumbnail={{
			src: '/content/projects/atmos/thumbnail.png',
			size: [528, 396]
		}}
	/>
</Base>
