---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
import Quote from '../../components/Quote.astro'
---

<Base>
	<Title>Bridging the talent gap for youth sports with SkillMasters</Title>
	<ContentSummary
		year='3 months'
		industry='Sports'
		roles={['UI design','Interaction design']}
	>
	</ContentSummary>
	<Content>
		<img
			class='view-project-image content'
			src='/content/case-studies/skillmasters/skillmasterscover.png'
		/>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>The challenge</h2>
			<p>
                SkillMasters gives young athletes access to college coaches for personalized feedback. The mobile app was further optimized for onboarding new 
                signups and recording training workouts.
			</p>
       </div>
	</Content>
	<Content>
		<img
			class='view-project-image'
			src='/content/case-studies/skillmasters/skillmasterslandscape.png'
		/>
		<img
			class='view-project-image'
			src='/content/case-studies/skillmasters/skillmastersupgrade.png'
		/>
        <div class='view-project-flex'>
            <img
                class='view-project-image flex-child'
                src='/content/case-studies/skillmasters/skillmasterslogo.png'
            />
            <img
                class='view-project-image flex-child'
                src='/content/case-studies/skillmasters/skillmastersicons.png'
            />
        </div>
	</Content>
	<Content>
		<h2>Testimonial</h2>
		<Quote
			quote={`Christopher is a very talented designer that has a deep knowledge and understanding on how to go about conceptualizing design tasks.`}
			author="Matthew LaCrosse"
			title="Product Manager, Atmos Labs"
		/>
	</Content>
	<NextCaseStudy
		href='/case-studies/dod'
		subtitle='Government'
		label='Shaping the future of pilot training with AI-driven maneuver analysis'
		description='The new DDR experience clarified performance grading, streamlined controls, and layered AI insights, giving pilots a clear path to improving mission readiness'
		thumbnail={{
			src: '/content/case-studies/dod/ddr.png',
		}}
	/>
</Base>
