---
import Content from '../../components/Content.astro'
import ContentSummary from '../../components/ContentSummary.astro'
import NextCaseStudy from '../../components/NextCaseStudy.astro'
import Title from '../../components/Title.astro'
import Base from '../../layouts/Base.astro'
import Quote from '../../components/Quote.astro'
---

<Base>
	<Title>Bridging the talent gap for youth sports with SkillMasters</Title>
	<ContentSummary
		year='3 months'
		industry='Sports'
		roles={['UI design','Interaction design']}
	>
	</ContentSummary>
	<Content>
		<div class='view-project-video'>
			<video
				autoplay
				loop
				muted
				playsinline
				width='1600px'
				height='1200px'
				src='/content/case-studies/skillmasters/skillmastersvideo.mp4'
				alt='Three mobile screens, the first screen is showing a dashboard, the second screen shows the landing page that reads Bridging the talent gap For youth sports, the third screen shows a young athelete practicing soccer'
			></video>
		</div>
	</Content>
	<Content>
		<div class='text-width'>
			<h2>The challenge</h2>
			<p>
                Skillmasters gives young athletes access to college coaches for personalized feedback. The mobile app was further optimized for onboarding new 
                signups and recording training workouts.
			</p>
       </div>
	</Content>
	<Content>
		<img
			class='view-project-image'
			src='/content/case-studies/skillmasters/skillmasterslandscape.png'
		/>
		<img
			class='view-project-image'
			src='/content/case-studies/skillmasters/skillmastersupgrade.png'
		/>
        <div class='view-project-flex'>
            <img
                class='view-project-image flex-child'
                src='/content/case-studies/skillmasters/skillmasterslogo.png'
            />
            <img
                class='view-project-image flex-child'
                src='/content/case-studies/skillmasters/skillmastersicons.png'
            />
        </div>
	</Content>
	<Content>
		<h2>Testimonial</h2>
		<Quote
			quote={`Chris did an amazing job on our mobile application redesign and I would highly recommend him to others looking for mobile redesigns`}
			author="Jacob Henderson"
			title="CEO, Skillmasters Inc."
		/>
	</Content>
	<NextCaseStudy
		href='/case-studies/dod'
		subtitle='Government'
		label='Shaping the future of pilot training with AI-driven maneuver analysis'
		description='The new DDR experience clarified performance grading, streamlined controls, and layered AI insights, giving pilots a clear path to improving mission readiness'
		thumbnail={{
			src: '/content/case-studies/dod/ddr.png',
		}}
	/>
</Base>
